.fraction-slider{
	position:relative;
	width:100%;
	height:100%;
	overflow:visible;
}
.fraction-slider .slide{
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 500;
}

.fraction-slider .active-slide {
	z-index: 991;
}
.fraction-slider .fs_obj{
	text-align: left;
	display:none;
	position:absolute;
	top:0px;
	left:100%;
	z-index:700;
}

.fraction-slider .fs_fixed_obj{
	z-index:600;
	left:0;
}

.fraction-slider .fs_obj *{
	background: transparent;
	display:inline-flex;
	position:relative;
	top:0px;
	left:0px;
}

.fs_loader{
	width:100%; height:400px;
	box-shadow: 0 1px 1px #b5b5b5;
	background:url(../img/fraction/fs.spinner.gif) center center no-repeat transparent;
}

/** CONTROLS **/

.fraction-slider .prev,
.fraction-slider .next {
	height: 25px;
	width: 52px;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	bottom: 13px;
	left: 50%;
	transform: translateX(-50%);
	background-size: cover;
	opacity: 0;
	visibility: hidden;
	z-index: 991;
}
.fraction-slider .prev i,
.fraction-slider .next i{
	display: none;
	position:relative;
	font-size: 30px;
	top: calc(50% - 16px);
}
.fraction-slider .prev{
	left: calc(50% - 33px);
}
.fraction-slider .next{
	left: calc(50% + 33px);
}
.fraction-slider:hover .prev{
	visibility: visible;
	opacity: 1;
}
.fraction-slider:hover .next{
	visibility: visible;
	opacity: 1;
}
.fraction-slider .prev:hover,
.fraction-slider .next:hover{
	border-color: #fff;
}

/** PAGER **/
.fs-pager-wrapper a, .fs-custom-pager-wrapper a{
    font-weight:600;
	font-size:16px;
	position:relative;
}
.fs-pager-wrapper a.active {
	position:relative;
}
.fs-pager-wrapper a.active::before {
    position: relative;
}
