@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?jdpssd');
  src:  url('icomoon.eot?jdpssd#iefix') format('embedded-opentype'),
    url('icomoon.ttf?jdpssd') format('truetype'),
    url('icomoon.woff?jdpssd') format('woff'),
    url('icomoon.svg?jdpssd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.ptw-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cart-1_bold:before {
  content: "\e900";
}
.icon-cart-1_light:before {
  content: "\e901";
}
.icon-cart-1_medium:before {
  content: "\e902";
}
.icon-cart-2_bold:before {
  content: "\e903";
}
.icon-cart-2_light:before {
  content: "\e904";
}
.icon-cart-2_medium:before {
  content: "\e905";
}
.icon-cart-3_bold:before {
  content: "\e906";
}
.icon-cart-3_light:before {
  content: "\e907";
}
.icon-cart-3_medium:before {
  content: "\e908";
}
.icon-cart-4_bold:before {
  content: "\e909";
}
.icon-cart-4_light:before {
  content: "\e90a";
}
.icon-cart-4_medium:before {
  content: "\e90b";
}
.icon-cart-5_bold:before {
  content: "\e90c";
}
.icon-cart-5_light:before {
  content: "\e90d";
}
.icon-cart-5_medium:before {
  content: "\e90e";
}
.icon-cart-6_bold:before {
  content: "\e90f";
}
.icon-cart-6_light:before {
  content: "\e910";
}
.icon-cart-6_medium:before {
  content: "\e911";
}
.icon-cart-7_bold:before {
  content: "\e912";
}
.icon-cart-7_light:before {
  content: "\e913";
}
.icon-cart-7_medium:before {
  content: "\e914";
}
.icon-cart-8_bold:before {
  content: "\e915";
}
.icon-cart-8_light:before {
  content: "\e916";
}
.icon-cart-8_medium:before {
  content: "\e917";
}
.icon-cart-9_bold:before {
  content: "\e918";
}
.icon-cart-9_light:before {
  content: "\e919";
}
.icon-cart-9_medium:before {
  content: "\e91a";
}
.icon-cart-10_bold:before {
  content: "\e91b";
}
.icon-cart-10_light:before {
  content: "\e91c";
}
.icon-cart-10_medium:before {
  content: "\e91d";
}
.icon-cart-11_bold:before {
  content: "\e91e";
}
.icon-cart-11_light:before {
  content: "\e91f";
}
.icon-cart-11_medium:before {
  content: "\e920";
}
.icon-cart-12_bold:before {
  content: "\e921";
}
.icon-cart-12_light:before {
  content: "\e922";
}
.icon-cart-12_medium:before {
  content: "\e923";
}
.icon-cart-13_bold:before {
  content: "\e924";
}
.icon-cart-13_light:before {
  content: "\e925";
}
.icon-cart-13_medium:before {
  content: "\e926";
}
.icon-cart-14_bold:before {
  content: "\e927";
}
.icon-cart-14_light:before {
  content: "\e928";
}
.icon-cart-14_medium:before {
  content: "\e929";
}
.icon-cart-15_bold:before {
  content: "\e92a";
}
.icon-cart-15_light:before {
  content: "\e92b";
}
.icon-cart-15_medium:before {
  content: "\e92c";
}
.icon-cart-16:before {
  content: "\e92d";
}
.icon-cart-17:before {
  content: "\e92e";
}
.icon-cart-18:before {
  content: "\e92f";
}
.icon-cart-19:before {
  content: "\e930";
}
.icon-cart-20:before {
  content: "\e931";
}
.icon-closed_bold:before {
  content: "\e932";
}
.icon-closed_light:before {
  content: "\e933";
}
.icon-closed-2:before {
  content: "\e934";
}
.icon-closed-3:before {
  content: "\e935";
}
.icon-closed-4:before {
  content: "\e936";
}
.icon-delete-1:before {
  content: "\e937";
}
.icon-delete-2:before {
  content: "\e938";
}
.icon-delete-3:before {
  content: "\e939";
}
.icon-delete-4:before {
  content: "\e93a";
}
.icon-grid-1:before {
  content: "\e93b";
}
.icon-grid-2:before {
  content: "\e93c";
}
.icon-grid-3:before {
  content: "\e93d";
}
.icon-grid-4:before {
  content: "\e93e";
}
.icon-grid-5:before {
  content: "\e93f";
}
.icon-grid-6:before {
  content: "\e940";
}
.icon-grid-7:before {
  content: "\e941";
}
.icon-grid-8:before {
  content: "\e942";
}
.icon-leftarrow-1:before {
  content: "\e943";
}
.icon-leftarrow-2:before {
  content: "\e944";
}
.icon-leftarrow-3:before {
  content: "\e945";
}
.icon-leftarrow-4:before {
  content: "\e946";
}
.icon-leftarrow-5:before {
  content: "\e947";
}
.icon-leftarrow-6:before {
  content: "\e948";
}
.icon-list-1:before {
  content: "\e949";
}
.icon-list-2:before {
  content: "\e94a";
}
.icon-list-3:before {
  content: "\e94b";
}
.icon-list-4:before {
  content: "\e94c";
}
.icon-list-5:before {
  content: "\e94d";
}
.icon-list-6:before {
  content: "\e94e";
}
.icon-list-7:before {
  content: "\e94f";
}
.icon-list-8:before {
  content: "\e950";
}
.icon-menu-1:before {
  content: "\e951";
}
.icon-menu-2:before {
  content: "\e952";
}
.icon-menu-3:before {
  content: "\e953";
}
.icon-menu-4:before {
  content: "\e954";
}
.icon-menu-5:before {
  content: "\e955";
}
.icon-rightarrow-1:before {
  content: "\e956";
}
.icon-rightarrow-2:before {
  content: "\e957";
}
.icon-rightarrow-3:before {
  content: "\e958";
}
.icon-rightarrow-4:before {
  content: "\e959";
}
.icon-rightarrow-5:before {
  content: "\e95a";
}
.icon-rightarrow-6:before {
  content: "\e95b";
}
.icon-search-1_bold:before {
  content: "\e95c";
}
.icon-search-1_light:before {
  content: "\e95d";
}
.icon-search-1_medium:before {
  content: "\e95e";
}
.icon-search-2_bold:before {
  content: "\e95f";
}
.icon-search-2_light:before {
  content: "\e960";
}
.icon-search-2_medium:before {
  content: "\e961";
}
.icon-search-3_bold:before {
  content: "\e962";
}
.icon-search-3_light:before {
  content: "\e963";
}
.icon-search-3_medium:before {
  content: "\e964";
}
.icon-search-4_bold:before {
  content: "\e965";
}
.icon-search-4_light:before {
  content: "\e966";
}
.icon-search-4_medium:before {
  content: "\e967";
}
.icon-search-5_bold:before {
  content: "\e968";
}
.icon-search-5_light:before {
  content: "\e969";
}
.icon-search-5_medium:before {
  content: "\e96a";
}
.icon-search-6_bold:before {
  content: "\e96b";
}
.icon-search-6_light:before {
  content: "\e96c";
}
.icon-search-6_medium:before {
  content: "\e96d";
}
.icon-search-7_bold:before {
  content: "\e96e";
}
.icon-search-7_light:before {
  content: "\e96f";
}
.icon-search-7_medium:before {
  content: "\e970";
}
.icon-search-8_bold:before {
  content: "\e971";
}
.icon-search-8_light:before {
  content: "\e972";
}
.icon-search-8_medium:before {
  content: "\e973";
}
.icon-search-9_bold:before {
  content: "\e974";
}
.icon-search-9_light:before {
  content: "\e975";
}
.icon-search-9_medium:before {
  content: "\e976";
}
.icon-search-10_bold:before {
  content: "\e977";
}
.icon-search-10_light:before {
  content: "\e978";
}
.icon-search-10_medium:before {
  content: "\e979";
}
.icon-user-1_bold:before {
  content: "\e97a";
}
.icon-user-1_light:before {
  content: "\e97b";
}
.icon-user-1_medium:before {
  content: "\e97c";
}
.icon-user-2_bold:before {
  content: "\e97d";
}
.icon-user-2_light:before {
  content: "\e97e";
}
.icon-user-2_medium:before {
  content: "\e97f";
}
.icon-user-3:before {
  content: "\e980";
}
.icon-user-4_bold:before {
  content: "\e981";
}
.icon-user-4_light:before {
  content: "\e982";
}
.icon-user-4_medium:before {
  content: "\e983";
}
.icon-user-5_bold:before {
  content: "\e984";
}
.icon-user-5_light:before {
  content: "\e985";
}
.icon-user-5_medium:before {
  content: "\e986";
}
.icon-user-6_bold:before {
  content: "\e987";
}
.icon-user-6_light:before {
  content: "\e988";
}
.icon-user-6_medium:before {
  content: "\e989";
}
.icon-user-7_bold:before {
  content: "\e98a";
}
.icon-user-7_light:before {
  content: "\e98b";
}
.icon-user-7_medium:before {
  content: "\e98c";
}
.icon-user-8_bold:before {
  content: "\e98d";
}
.icon-user-8_light:before {
  content: "\e98e";
}
.icon-user-8_medium:before {
  content: "\e98f";
}
.icon-user-9_bold:before {
  content: "\e990";
}
.icon-user-9_light:before {
  content: "\e991";
}
.icon-user-9_medium:before {
  content: "\e992";
}
.icon-user-10_bold:before {
  content: "\e993";
}
.icon-user-10_light:before {
  content: "\e994";
}
.icon-user-10_medium:before {
  content: "\e995";
}
.icon-user-11:before {
  content: "\e996";
}
.icon-user-12_bold:before {
  content: "\e997";
}
.icon-user-12_light:before {
  content: "\e998";
}
.icon-user-12_medium:before {
  content: "\e999";
}
.icon-user-13_bold:before {
  content: "\e99a";
}
.icon-user-13_light:before {
  content: "\e99b";
}
.icon-user-13_medium:before {
  content: "\e99c";
}
.icon-user-14_bold:before {
  content: "\e99d";
}
.icon-user-14_light:before {
  content: "\e99e";
}
.icon-user-14_medium:before {
  content: "\e99f";
}
.icon-user-15_bold:before {
  content: "\e9a0";
}
.icon-user-15_light:before {
  content: "\e9a1";
}
.icon-user-15_medium:before {
  content: "\e9a2";
}
.icon-wishlist-1_bold:before {
  content: "\e9a3";
}
.icon-wishlist-1_light:before {
  content: "\e9a4";
}
.icon-wishlist-1_medium:before {
  content: "\e9a5";
}
.icon-wishlist-2_bold:before {
  content: "\e9a6";
}
.icon-wishlist-2_light:before {
  content: "\e9a7";
}
.icon-wishlist-2_medium:before {
  content: "\e9a8";
}
.icon-wishlist-3_bold:before {
  content: "\e9a9";
}
.icon-wishlist-3_light:before {
  content: "\e9aa";
}
.icon-wishlist-3_medium:before {
  content: "\e9ab";
}
.icon-wishlist-4_bold:before {
  content: "\e9ac";
}
.icon-wishlist-4_light:before {
  content: "\e9ad";
}
.icon-wishlist-4_medium:before {
  content: "\e9ae";
}
.icon-wishlist-5_bold:before {
  content: "\e9af";
}
.icon-wishlist-5_light:before {
  content: "\e9b0";
}
.icon-wishlist-5_medium:before {
  content: "\e9b1";
}
.icon-wishlist-6_bold:before {
  content: "\e9b2";
}
.icon-wishlist-6_light:before {
  content: "\e9b3";
}
.icon-wishlist-6_medium:before {
  content: "\e9b4";
}
.icon-wishlist-7_bold:before {
  content: "\e9b5";
}
.icon-wishlist-7_light:before {
  content: "\e9b6";
}
.icon-wishlist-7_medium:before {
  content: "\e9b7";
}
.icon-wishlist-8:before {
  content: "\e9b8";
}
.icon-wishlist-9:before {
  content: "\e9b9";
}
.icon-wishlist-10:before {
  content: "\e9ba";
}
