/*@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');*/

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v11/dPJ5r9gl3kK6ijoeP1IRsvY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v11/EsvMC5un3kjyUhB9ZEPPwg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/UyBMtLsHKBKXelqf4x7VRQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v11/ObQr5XYcoH0WBoUxiaYK3_Y6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v11/H2DMvhDLycM56KNuAtbJYA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: 'linecons';
    src:url('../fonts/linecons/linecons.eot');
    src:url('../fonts/linecons/linecons.eot?#iefix') format('embedded-opentype'),
        url('../fonts/linecons/linecons.woff') format('woff'),
        url('../fonts/linecons/linecons.ttf') format('truetype'),
        url('../fonts/linecons/linecons.svg#linecons') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Hide menu top on large screen */
@media only screen and (max-width: 767px) {
    #block_top_menu {
        display: none;
    }
    .rm-body-with-header #header_logo {
        display: none;
    }
    .rm-body-with-header .header-nav {
        display: none;
    }
    .rm-display-search #search_block_top, .rm-display-search #search_widget {
        display: none;
    }
}
@media only screen and (min-width: 767px) {
    body.rm-body-with-header {
        padding-top: 0px;
    }
    .rm-header {
        display: none;
    }
    .rm-trigger {
        display: none;
    }
}

.rm-pannel * {
    margin: 0;
    padding: 0;
}

.rm-trigger {
    position: fixed;
    top: 80px;
    right: 10px;
    cursor: pointer;
    height: 34px;
    width: 40px;
    z-index: 10000;
}
.rm-trigger:before {
    position: absolute;
    top: 2px;
    left: 0;
    width: 40px;
    height: 6px;
    background: #777;
    box-shadow: 0 6px rgba(255,255,255,0.8), 0 12px #777, 0 18px rgba(255,255,255,0.8), 0 24px #777;
    content: '';
}
.rm-level__container .icon-arrow {
    display: block;
}

.rm-overlay {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 10000;
    background: rgba(0,0,0,0.2);

    /* Fix for Chrome android */
    padding-bottom: 20%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.rm-overlay--open {
    left: 0%;
}
.rm-overlay--close {
    left: -100%;
}
.rm-pannel {
    z-index: 10000;
    position: fixed;
    top: 0;
    height: 100%;
    width: 80%;
    overflow-x: hidden;
    background: #333333;
    background: rgba(51,51,51,0.985);
    border-right: 1px solid black;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;

    /* Fix for Chrome android */
    padding-bottom: 70px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.rm-pannel--open {
    left: 0;
}
.rm-pannel--close {
    left: -100%;
}
.rm-container {
    z-index: 100;
    width: 100%;
    position: absolute;
    right: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;

    /* Fix for Chrome android */
    padding-bottom: 70px;
}
.rm-level {
    position: relative;
    float: left;
    width: 0px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.rm-pannel .icon-arrow:before {
    font-family: 'linecons';
    position: absolute;
    right: 10px;
    z-index: -1;
    color: #777;
    color: rgba(255, 255, 255, 0.4);
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
    line-height: 3.5;
    content: "\e033";
}
#footer a.rm-level__title,
#footer a.rm-level__title:hover,
.rm-level__title,
.rm-level__title:hover {
    display: block;
    border-bottom: 1px solid #222;
    margin: 0;
    padding: 0.5em;
    color: #777;
    color: rgba(255, 255, 255, 0.4);
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
    font-weight: 300;
    font-size: 1.5em;
    font-family: Lato, Calibri, Arial, sans-serif;
}
#footer li a.rm-level__item,
.rm-level__item {
    border-bottom: 1px solid #222;
    display: block;
    margin: 0;
    padding: 0.7em 1em 0.7em 1.8em;
    color: rgba(255, 255, 255, 0.4);
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
    font-weight: 300;
    font-size: 1.4em;
    font-family: Lato, Calibri, Arial, sans-serif;

    -webkit-transition: background 0.3s, box-shadow 0.3s;
    -moz-transition: background 0.3s, box-shadow 0.3s;
    transition: background 0.3s, box-shadow 0.3s;
}

#footer li a.rm-level__item:hover,
#footer li a.rm-level__item--selected,
.rm-level__item:hover,
.rm-level__item--selected {
    background: rgba(0,0,0,0.2);
    box-shadow: inset 0 -1px rgba(0,0,0,0);
    color: rgba(255, 255, 255, 0.4);

    -webkit-transition: background 0.3s, box-shadow 0.3s;
    -moz-transition: background 0.3s, box-shadow 0.3s;
    transition: background 0.3s, box-shadow 0.3s;
}
#footer li a.rm-level__item--back,
.rm-level__item--back {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.4em;
}

.rm-body-with-header {
    padding-top: 70px;
}
.rm-header, #footer .rm-header {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background: #FFF;
    border-bottom: 1px solid #000;
    z-index: 10000;
}

.rm-header .logo, #footer .rm-header .logo {
    height: 50px;
    margin : 10px;
}

.rm-header .rm-trigger, #footer .rm-header .rm-trigger {
    position: absolute;
    top: 20px;
    right: 10px;
}

.footer-container #footer .rm-header .cart,
.rm-header .cart {
    font-family: "FontAwesome";
    display: block;
    position: absolute;
    top: 0;
    right: 65px;
    font-size: 40px;
    line-height: 70px;
    height: 70px;
    width: 40px;
    color: #000;
    padding-right: 15px;
}

.rm-header .search, #footer .rm-header .search {
    font-family: "FontAwesome";
    display: block;
    position: absolute;
    top: 0;
    right: 116px;
    font-size: 40px;
    line-height: 70px;
    height: 70px;
    width: 40px;
    color: #000;
    padding-right: 15px;
}

.rm-searchbar {
    color: #777;
    font-size: 0;
    border-bottom: 1px solid #333;
    height: 37px;
    overflow: hidden;
    position: absolute;
    top: 69px;
    width: 100%;

    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
}

.rm-searchbar .searchquery {
    width: 80%;
    line-height: 36px;
    padding-left: 5px;
    font-size: 14px;
    border: none;
}

.rm-searchbar .searchbutton {
    font-family: "FontAwesome";
    width: 20%;
    font-family: "FontAwesome";
    background-color: #333;
    color: #777;
    line-height: 36px;
    font-size: 24px;
    border: none;
}

.rm-searchbar.closed {
    height: 0px;

    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
}

.rm-header .cart .count, #footer .rm-header .cart .count {
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 100%;
    background: #6ad4ff;
    color: white;
    font-size: 10px;
    font-weight: bold;
    padding: 1px 2px;
    line-height: 12px;
}

.rm-header .rm-trigger:before, #footer .rm-header .rm-trigger:before {
    background: #000;
    box-shadow: 0 6px rgba(255,255,255,0), 0 12px #000, 0 18px rgba(255,255,255,0), 0 24px #000;
}
