/*@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');*/

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v11/dPJ5r9gl3kK6ijoeP1IRsvY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v11/EsvMC5un3kjyUhB9ZEPPwg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/UyBMtLsHKBKXelqf4x7VRQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v11/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v11/ObQr5XYcoH0WBoUxiaYK3_Y6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v11/H2DMvhDLycM56KNuAtbJYA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: 'linecons';
    src:url('../fonts/linecons/linecons.eot');
    src:url('../fonts/linecons/linecons.eot?#iefix') format('embedded-opentype'),
        url('../fonts/linecons/linecons.woff') format('woff'),
        url('../fonts/linecons/linecons.ttf') format('truetype'),
        url('../fonts/linecons/linecons.svg#linecons') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/FontAwesome/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/FontAwesome/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/FontAwesome/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/FontAwesome/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/FontAwesome/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/FontAwesome/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* Hide menu top on large screen */
@media only screen and (max-width: @breakpoint@) {
    #block_top_menu {
        display: none;
    }
    .rm-body-with-header #header_logo {
        display: none;
    }
    .rm-body-with-header .header-nav {
        display: none;
    }
    .rm-display-search #search_block_top, .rm-display-search #search_widget {
        display: none;
    }
}
@media only screen and (min-width: @breakpoint@) {
    body.rm-body-with-header {
        padding-top: 0px;
    }
    .rm-header {
        display: none;
    }
    .rm-trigger {
        display: none;
    }
}

.rm-pannel * {
    margin: 0;
    padding: 0;
}

.rm-trigger {
    position: fixed;
    top: 80px;
    right: 10px;
    cursor: pointer;
    height: 34px;
    width: 40px;
    z-index: 10000;
}
.rm-trigger--with-subtitle::after, .rm-trigger--with-subtitle::after {
    content: attr(data-subtitle);
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 40px;
    text-align: center;
    font-size: 12px;
    color: @headercolor@;
}
.rm-trigger::before {
    position: absolute;
    top: 2px;
    left: 0;
    width: 40px;
    height: 6px;
    content: '';
    background: @headercolor@;
    box-shadow: 0 6px rgba(255,255,255,0), 0 12px @headercolor@, 0 18px rgba(255,255,255,0), 0 24px @headercolor@;
}
.rm-level__container .icon-arrow {
    display: block;
}

#footer .rm-overlay, .rm-overlay {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 10000;
    background: @overlaycolor@;

    /* Fix for Chrome android */
    padding-bottom: 20%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.rm-overlay--open {
    left: 0%;
}
.rm-overlay--close {
    left: -100%;
}
.rm-overlay.rm-display-close::after {
    position: absolute;
    content: '\f00d';
    font-family: "FontAwesome";
    font-size: @closebuttonfontsize@px;
    line-height: @closebuttonfontsize@px;
    right: 5px;
    top: 5px;
    color: @closebuttoncolor@;
    text-shadow: @closebuttonshadow@;
}
#footer .rm-pannel, .rm-pannel {
    z-index: 10000;
    position: fixed;
    top: 0;
    height: 100%;
    width: 80%;
    overflow-x: hidden;
    background: #333333;
    background: @pannelbackground@;
    border-right: 1px solid @pannelbordercolor;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;

    /* Fix for Chrome android */
    padding-bottom: 70px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.rm-pannel--open {
    left: 0;
}
.rm-pannel--close {
    left: -100%;
}
.rm-container {
    z-index: 100;
    width: 100%;
    position: absolute;
    right: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;

    /* Fix for Chrome android */
    padding-bottom: 70px;
}
.rm-display-login .rm-container {
    padding-top: @loginbarheight@px;
}
.rm-display-search .rm-container {
    padding-top: @searchbarheight@px;
}
.rm-display-login.rm-display-search .rm-container {
    padding-top: @loginandsearchbarheight@px;
}
.rm-level {
    position: relative;
    float: left;
    width: 0px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.rm-pannel .icon-arrow::before {
    font-family: 'linecons';
    position: absolute;
    right: 10px;
    z-index: -1;
    color: @arrowcolor@;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
    line-height: 3.5;
    content: "\e033";
}
#footer a.rm-level__title,
#footer a.rm-level__title:hover,
.rm-level__title,
.rm-level__title:hover {
    display: block;
    border-bottom: 1px solid @leveltitlebordercolor@;
    margin: 0;
    padding: 0.5em;
    color: #777;
    color: @leveltitlecolor@;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
    font-weight: 300;
    font-size: 1.5em;
    font-family: Lato, Calibri, Arial, sans-serif;
}
#footer li a.rm-level__item,
.rm-level__item {
    border-bottom: 1px solid @levelitembordercolor@;
    display: block;
    margin: 0;
    padding: 0.7em 1em 0.7em 1.8em;
    color: @levelitemcolor@;
    text-shadow: @levelitemshadow@;
    font-weight: 300;
    font-size: 1.4em;
    font-family: Lato, Calibri, Arial, sans-serif;

    -webkit-transition: background 0.3s, box-shadow 0.3s;
    -moz-transition: background 0.3s, box-shadow 0.3s;
    transition: background 0.3s, box-shadow 0.3s;
}
#footer li a.rm-level__item--icon,
.rm-level__item--icon {
    background-position: 20px center;
    background-repeat: no-repeat;
    padding-left: 2.5em;
    background-size: 20px;
}

#footer li a.rm-level__item:hover,
#footer li a.rm-level__item--selected,
.rm-level__item:hover,
.rm-level__item--selected {
    background-color: rgba(0,0,0,0.2);
    box-shadow: inset 0 -1px rgba(0,0,0,0);
    color: rgba(255, 255, 255, 0.4);

    -webkit-transition: background 0.3s, box-shadow 0.3s;
    -moz-transition: background 0.3s, box-shadow 0.3s;
    transition: background 0.3s, box-shadow 0.3s;
}
#footer li a.rm-level__item--back,
.rm-level__item--back {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.4em;
    color: @levelbackcolor@;
}

.rm-body-with-header {
    padding-top: 70px;
}
.rm-header, #footer .rm-header {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background: @headerbackground@;
    border-bottom: 1px solid @headerbordercolor@;
    z-index: 10000;
}

.rm-header {
}
.rm-header .rm-icon-container {
    position: absolute;
    right: 0;
    text-align: right;
    padding-right: 10px;
}
.rm-header .rm-icon {
    display: inline-block;
    position: relative;
    top: auto;
    right: auto;
}
.rm-header .rm-logo-container {
    position: absolute;
    width: 100%;
    height: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 155px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: content-box;
}
.rm-header .rm-logo {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.rm-header .rm-logo, #footer .rm-header .rm-logo {
    width: 100%;
}

.rm-header .rm-trigger, #footer .rm-header .rm-trigger {
    position: relative;
    top: auto;
    right: auto;
    height: 30px;
    margin-left: 7px;
}
.rm-header .rm-trigger--with-subtitle::after, #footer .rm-header .rm-trigger--with-subtitle::after {
    content: attr(data-subtitle);
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 40px;
    text-align: center;
    font-size: 12px;
    color: @headercolor@;
}

.footer-container #footer .rm-header .rm-cart,
.rm-header .rm-cart {
    font-family: "FontAwesome";
    font-size: 40px;
    line-height: 70px;
    height: 70px;
    width: 40px;
    color: @headercolor@;
    padding-right: 15px;
}

.footer-container #footer .rm-header .rm-language,
.rm-header .rm-language {
    font-family: "FontAwesome";
    font-size: 40px;
    line-height: 70px;
    height: 70px;
    width: 40px;
    color: @headercolor@;
    padding-right: 15px;
    position: relative;
}

.rm-header .rm-language.opened > .rm-language-list {
    display: block;
}
.footer-container #footer .rm-header .rm-language-list,
.rm-header .rm-language-list {
    display: none;
    position: absolute;
    top: 69px;
    left: -3px;
    width: 40px;
    list-style: none;
    border: 1px solid @headerbordercolor@;
    border-top: none;
    z-index: 1000;
}
.footer-container #footer .rm-header .rm-language-list__item,
.rm-header .rm-language-list__item {
    color: @headercolor@;
    background: @headerbackground@;
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    margin-bottom: 0;
    font-weight: normal;
}
.footer-container #footer .rm-header .rm-language-list__item--current,
.rm-header .rm-language-list__item--current {
    font-weight: bold;
}

.rm-header .search, #footer .rm-header .search {
    font-family: "FontAwesome";
    font-size: 40px;
    line-height: 70px;
    height: 70px;
    width: 40px;
    color: @headercolor@;
    padding-right: 7px;
}

.rm-searchbar {
    color: #777;
    font-size: 0;
    border-bottom: 1px solid @headerbordercolor@;
    height: 37px;
    overflow: hidden;
    position: absolute;
    top: 70px;
    width: 100%;

    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
}

.rm-searchbar .searchquery {
    width: 100%;
    line-height: 36px;
    padding-left: 5px;
    padding-right: 50px;
    font-size: 14px;
    border: none;
    position: absolute;
    left: 0;
}

.rm-searchbar .searchbutton {
    font-family: "FontAwesome";
    width: 50px;
    font-family: "FontAwesome";
    background-color: @searchbuttonbackground@;
    color: @searchbuttoncolor@;
    line-height: 36px;
    font-size: 24px;
    border: none;
    position: absolute;
    right: 0;
}

.rm-searchbar.closed {
    height: 0px;

    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
}

.rm-header .rm-cart .count, #footer .rm-header .rm-cart .count {
    display: block;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 100%;
    background: #6ad4ff;
    color: white;
    font-size: 10px;
    font-weight: bold;
    padding: 1px 2px;
    line-height: 12px;
}

.rm-header .rm-trigger::before, #footer .rm-header .rm-trigger::before {
    background: @headercolor@;
    box-shadow: 0 6px rgba(255,255,255,0), 0 12px @headercolor@, 0 18px rgba(255,255,255,0), 0 24px @headercolor@;
}
.rm-login-bar {
    height: @loginbarheight@px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    background: @loginbarbackground@;
}
.rm-login-bar__hello {
    font-size: @loginbarfontsize@px;
    font-family: Lato, Calibri, Arial, sans-serif;
    color: @loginbarcolor@;
    line-height: @loginbarheight@px;
    margin-left: -@loginbarfontsize@px;
}
.rm-login-bar__hello::before {
    font-family: "FontAwesome";
    content: '\f2bd';
    margin-right: 10px;
}
.rm-login-bar__logout {
    font-size: @loginbarfontsize@px;
    color: @loginbarcolor@;
    line-height: @loginbarheight@px;
    position: absolute;
    right: 10px;
}
.rm-login-bar__logout::before {
    font-family: "FontAwesome";
    content: '\f011';
}
.rm-login-bar__login {
    font-size: @loginbarfontsize@px;
    font-family: Lato, Calibri, Arial, sans-serif;
    color: @loginbarcolor@;
    line-height: @loginbarheight@px;
}
.rm-login-bar__login::before {
    font-family: "FontAwesome";
    content: '\f2bd';
    margin-right: 15px;
}
.rm-display-login .rm-search-bar {
    top: @loginbarheight@px;
}
.rm-search-bar {
    position: absolute;
    top: 0px;
    right: 0;
    height: @searchbarheight@px;
}
.rm-search-bar__input {
    width: 100%;
    border: none;
    height: @searchbarheight@px;
    padding: 5px 10px;
    padding-right: 25px;
    background: @searchbarbackground@;
    color: @searchbarcolor@;
}
.rm-search-bar__input::placeholder, .rm-search-bar__input::-webkit-input-placeholder, .rm-search-bar__input::-moz-placeholder, .rm-search-bar__input::-ms-input-placeholder {
    color: white;
}
.rm-search-bar__submit {
    width: 25px;
    line-height: @searchbarheight@px;
    border: none;
    height: @searchbarheight@px;
    background: @searchbarbackground@;
    color: @searchbarcolor@;
    position: absolute;
    right: 0;
    top: 0;
    font-family: FontAwesome;
}

@customcss@

@media only screen and (max-width: @breakpoint@) {
    @customcssmobile@
}

@media only screen and (min-width: @breakpoint@) {
    @customcssdesktop@
}
