.jms-megamenu.navbar {
  padding:0px;
  width:100%;
  position: static;
}
.jms-megamenu .row {
  padding:0px;
}
.jms-megamenu > ul > li {
  padding:0 12px;
  margin: 0px;
}
#hor-menu .jms-megamenu li.group > a {
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 16px;
    margin-top: -7px;
}
#hor-menu .jms-megamenu li.group > a span::after{
    display: none;
}
.jms-megamenu a {
  text-decoration:none;
}
.jms-megamenu ul li a{
    line-height: 30px;
}
.jms-megamenu .nav > li.item-fullwidth{
    position: static;
}
.jms-megamenu .nav > li {
    display: inline-block;
    float: inherit;
    vertical-align: top;
    position:relative;
}
.jms-megamenu .nav > li.sub-home .mod-content .text{
    display: inline-block;
    color:#fff;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.8px;
    margin-top: 9px;
    transition: all 400ms;
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -ms-transition: all 400ms;
    -o-transition: all 400ms;
}
.jms-megamenu .nav > li.sub-home .mod-content .image{
    display: block;
}
.jms-megamenu .nav > li.sub-home .mod-content .image img{
    width: 100%;
}
.jms-megamenu .nav > li.sub-home .mod-content a:hover .text{
    color: #ff794f;
}
.jms-megamenu .nav > li.sub-home .col-sm-3 ul li:not(:last-child){
    margin-bottom: 29px;
}
.jms-megamenu .nav > li > a {
    font-size: 1.125rem;
    padding: 0px;
    position: relative;
    color: #000;
}
.jms-megamenu .nav > li.open > a,
.jms-megamenu .nav > li > a:hover {
    color: #000;
}
.jms-megamenu .nav > li:hover,
.jms-megamenu .nav > li.open {
    background: none;
}
.jms-megamenu .dropdown-menu {
    background: #fff;
    border-radius: 0;
    display: block;
    left: -18px;
    margin-top: 0;
    min-width: 200px;
    opacity: 0;
    padding: 0;
    position: absolute;
    visibility: hidden;
    z-index: 9999;
    transition: all 400ms ease 0s;
    -webkit-transition: all 400ms ease 0s;
}
.jms-megamenu .open > .dropdown-menu {
    opacity: 1;
    top: 100%;
    visibility: visible;
}
.jms-megamenu .mega-nav,
.jms-megamenu .dropdown-menu .mega-nav {
    list-style: outside none none;
    margin: 0;
    padding:0px;
    min-height: 20px;
}
.jms-megamenu .caret {
    margin-left: 5px;
}
.jms-megamenu .mega-nav > .mega > .dropdown-menu {
    left: 100%;
    margin: 0;
    top: -33px;
}
.mega-nav > .mega {
    position: relative;
}
.jms-megamenu .menu-align-justify > .dropdown-menu {
    left: 0;
    margin-left: 0;
}
.jms-megamenu .menu-align-center > .dropdown-menu {
    left: 50%;
    right: 0;
    margin: auto;
    transform: translateX(-50%);
    padding: 50px 0 40px;
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
}
.jms-megamenu .mega-nav > .mega.menu-align-left > .dropdown-menu {
    left: 100%;
}
.jms-megamenu .mega-nav > .mega.menu-align-right > .dropdown-menu {
    left: auto;
    right: 100%;
}
.jms-megamenu .menu-align-justify {
    position: static;
}
.jms-megamenu .menu-align-justify > .dropdown-menu {
    left: 0;
    margin-left: 0;
}   
.jms-megamenu .dropdown-menu {
    background: #fff;
    padding: 20px 0px;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
}
.jms-megamenu .dropdown-menu.fullwidth{
    width: 100%;
    left: 0;
    transform: none;
}
.jms-megamenu .dropdown-menu.fullwidth .mega-dropdown-inner{
    max-width: 1164px;
    margin: auto;
}
.jms-megamenu .item-fullwidth .dropdown-menu > .mega-dropdown-inner > .row {
    margin: 0 -15px;
}
.jms-megamenu .item-fullwidth .dropdown-menu > .mega-dropdown-inner > .row ~ .row{
    margin-top: 29px;
}
.jms-megamenu .item-fullwidth.sub-home .dropdown-menu > .mega-dropdown-inner > .row {
    margin: 0 -7px;
}
.jms-megamenu .item-fullwidth.sub-home .dropdown-menu > .mega-dropdown-inner > .row .col-sm-3{
    padding: 0 7px;
}
.jms-megamenu .nav > .menu-item .mega-nav li > a {
    border-bottom: medium none;
    display: block;
    position: relative;
    letter-spacing: 0.3px;
    padding: 0 30px;
}
.jms-megamenu .nav > .menu-item.item-fullwidth .mega-nav li > a{
    padding: 0;
}
.jms-megamenu .nav > .menu-item .mega-nav li {
    position: relative;
}
.jms-megamenu .nav > .menu-item .mega-nav li.mega > a::before{
    content: url("../images/right.png");
    position: absolute;
    right: 30px;
}
