@charset "UTF-8";
@import url(product.css);
@import url(product-list.css);
@import url(contact.css);
@import url(cart.css);
@import url(checkout.css);
@import "_varians.scss";
@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT&display=swap');

@font-face {
  	font-family: 'futuraTOT-bold';
  	src: url('../fonts/Futura-T-OT-Bold-Condensed.ttf');
  	font-weight: normal;
  	font-style: normal;
  	font-display: block;
}

.container-fluid{
	max-width: 1790px;
	padding: 0 15px;
}
.container{
	max-width: 1194px;
	padding: 0 15px;
}
.row{
	margin-left: -14px;
	margin-right: -14px;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
	padding-right: 14px;
	padding-left: 14px;
}
.btn, .btn-default{
	display: inline-block;
}
input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
	height: 42px;
}
.card{
	border-radius: 0;
	border-top: 0;
}
.table thead th{
	border-bottom-width: 1px;
}
.table tbody + tbody {
	border-top: 1px solid #dee2e6;
}
.label{
	padding: 0;
}
.addon-title h3{
	letter-spacing: 2.75px;
}
.breadcrumb {
	background: url("/jms_haza/img/cms/breadcrumb-bg.jpg") center no-repeat;
	background-size: cover;
	margin-bottom: 8rem;
	.title-meta{
		font-size: 30px;
		font-weight: 600;
		color: #111;
		text-transform: uppercase;
		letter-spacing: 1.3px;
		font-style: initial;
		margin-bottom: 14px;
	}
	ul{
		padding-top: 7.4rem;
		padding-bottom: 7.667rem;
	}
	li{
		letter-spacing: 0.3px;
	}
}
.bg-overlay{
	opacity: 0;
	visibility: hidden;
	position: fixed;
	background: rgba(0,0,0,0.35);
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	transition: all .4s;
	z-index: 1000;
}
.site-logo-text{
	font-family: 'futuraTOT-bold';
	color: #111;
	letter-spacing: 1.5px;
}
.layout-column{
	padding-left: 14px;
	padding-right: 14px;
}
.addon-desc {
	text-align: center;
	font-size: 17px;
	color: #111;
	letter-spacing: 0.17px;
}
.form-control{
	color: #555;
	&::placeholder{
		color: #555;
	}
	&:focus{
		box-shadow: none;
		border-color: #e1e1e1;
	}
}
.modal-content{
	border-radius: 0;
	border: 0;
}
.btn:focus{
	box-shadow: none;
}
.btn.active{
	background-color: #000;
	color: #fff;
	border-color: #000;
}
.form-control {
    height: 46px;
    line-height: 46px;
    border: 1px solid #ebebeb;
}
.old-standard-tt{
	font-family: 'Old Standard TT', serif;
}
.fa{
	font-family: "Fontawesome" !important;
}
.border-bottom{
	border-bottom: 1px solid #ebebeb;
}
.hidden{
	display: none;
}
.jms-search-input{
	&.type-2, &.type-3{
		display: none;
	}
}
#cart_block .ajax_cart_quantity {
    position: absolute;
    width: 18px;
    height: 18px;
    background: #ffft;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #111;
    border-radius: 50%;
    font-size: 14px;
    font-weight: 500;
    top: -13px;
    right: -14px;
    overflow: hidden;
}
.product-miniature .old.price {
	opacity: 1;
 	font-weight: 400;
  	font-size: 15px;
  	margin-right: 12px;
}
.addon-box .post-title a {
    text-transform: initial;
}
.input-group-btn .btn .buttonText {
  font-size: 14px;
  padding: 0;
}
.zoomContainer {
	z-index: 991;
}
/***** Navigation Style *****/
.owl-nav {
  	width:100%;
  	text-align: center;
  	.owl-nav .owl-prev {
	  	position: absolute;
	  	top: 50%;
	  	transform: translateY(-50%);
	  	left: 0;
	}
	.owl-nav .owl-next {
	  	position: absolute;
	  	top: 50%;
	  	transform: translateY(-50%);
	  	right: 0;
	}
}
.owl-theme{
	.owl-controls{
		&.disabled div{
			display: none;
		}
		div{
			width: 52px;
			height: 25px;
			cursor: pointer;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			&.owl-prev{
				left: -26px;
				background: url("../img/icons/prev.png") no-repeat;
			}
			&.owl-next{
				right: -26px;
				background: url("../img/icons/next.png") no-repeat;
			}
		}
	}
}
.owl-carousel .owl-dot{
	width: 10px;
	height: 10px;
	background: #ccc;
	display: inline-block;
	margin: 0 3px;
	border-radius: 50%;
	&.active{
		background: #000;
	}
}
.carousel-nav-swh .owl-controls {
  opacity: 0;
  transition: all 0.3s;
}
.carousel-nav-swh .owl-carousel:hover .owl-controls {
  opacity: 1;
}
.languages-info{
	&.type-2{
		display: none !important;
	}
}
#cart_block .text-cart,
#cart_block .ajax_cart_quantity.type-2,
#jms_ajax_search .btn-search .text,
#_desktop_user_info .account .text{
	display: none;
}
a,
.btn, 
.btn-default{
	transition: all 400ms;
	-webkit-transition: all 400ms;
	-moz-transition: all 400ms;
	-ms-transition: all 400ms;
	-o-transition: all 400ms;
}


/* header! */
header .row {
	margin-right: -14px;
	margin-left: -14px;
}
#header{
	.container-fluid{
		> .row{
			padding: 0;
		}
	}
}
#header-top{
	padding: 0;
	position: relative;
	.header-right .dropdown-menu{
		top: calc(100% + 21px);
		right: -13px;
	}
	.dropdown-menu.shoppingcart-box{
		min-width: 370px;
		max-width: 370px;
		background: #282828;
		color: #fff;
		padding: 29px 35px;
		.cart-product-image{
			max-width: max-content;
		}
		.cart_block_list{
			.row{
				margin: 0;
			}
			.layout-column.product-info {
			  	padding-left: 20px;
			}
			.billing-info{
				margin-bottom: 20px;
			}
			li{
				position: relative;
				&:not(:last-child){
					margin: 0px 0px 42px 0px;
					&::after{
						content: "";
						position: absolute;
						left: 0;
						bottom: -22px;
						width: 100%;
						height: 1px;
						background-color: rgba(255,255,255,0.1);
					}
				}
			}
		}
		.cart-prices-line .value {
			font-size: 20px;
			font-weight: 600;
		}
		.label{
			padding: 0;
			color: #9f9f9f;
		}
		.product-link{
			display: block;
			color: #fff;
			line-height: 1.65;
			margin-bottom: 7px;
		}
		.content_price{
			margin-bottom: 3px;
		}
		.line{
			.remove_link{
				margin-left: 29px;
			}
		}
		.price.new {
			font-size: 19px;
			font-weight: 700;
		}
		.checkout-btn{
			border-color: #fff;
			background: transparent;
			padding: 7px 20px;
			letter-spacing: 0.6px;
			&:hover{
				background: #fff;
				color: #111;
			}
		}
	}
	#_desktop_user_info .user-info-content a{
		position: relative;
		&:hover{
			color: #fff;
			&::after{
				width: 100%;
			}
		}
		&::after{
			content: "";
			position: absolute;
			width: 0;
			height: 1px;
			background-color: #fff;
			left: 0;
			bottom: -2px;
			transition: all .4s;
		}
	}
	#hor-menu{
		.nav{
			> li > a{
				display: block;
				line-height: 72px;
			}
			li{
				&.sub-home .mod-content a{
					display: block;
					text-align: center;
					&:hover .text{
						color: #fff;
						&::after{
							width: 100%;
						}
					}
					.text{
						position: relative;
						&::after{
							content: "";
							position: absolute;
							width: 0;
							height: 1px;
							background-color: #fff;
							left: 0;
							bottom: 4px;
							transition: all .4s;
						}
					}
				}
				&.open > a{
					span{
						&::after{
							width: 100%;
						}
					}
				}
				> a{
					letter-spacing: 0.3px;
					&:hover span::after{
						width: 100%;
					}
					span{
						position: relative;
						&::after{
							content: "";
							position: absolute;
							width: 0;
							height: 1px;
							background-color: #fff;
							left: 0;
							bottom: -3px;
							transition: all .4s;
						}
					}
				}
			}
		}
		.item-fullwidth .dropdown-menu{
			padding: 40px 0;
			max-height: 58.33rem;
			overflow-y: auto;
		}
	}
}
.header-sticky.sticky{
	background-color: #fff;
	animation-duration: 0.4s;
	animation-name: fadeIn;
	animation-timing-function: ease;
}
.header-1{
	#header-topbar{
		.header-left{
			letter-spacing: 0.2px;
		}
		.header-center{
			letter-spacing: 0.15px;
		}
		.header-right{
			text-align: right;
			> div{
				display: inline-flex;
				position: relative;
				&:not(:first-child){
					margin-left: 37px;
					&::before{
						content: "";
						position: absolute;
						background-color: #ebebeb;
						width: 1px;
						height: 48px;
						left: -21px;
						top: 50%;
						transform: translateY(-50%);
					}
				}
			}
			.dropdown-menu{
				min-width: 73px;
				padding: 15px 10px;
				text-align: center;
				top: 12px !important;
				left: -20px !important;
				background: #282828;
				box-shadow: 0 0 10px rgba(0,0,0,0.35);
				ul li a{
					color: #9f9f9f;
					position: relative;
					&::after{
						content: "";
						position: absolute;
						width: 0;
						height: 1px;
						background-color: #fff;
						left: 0;
						bottom: -3px;
						transition: all .4s;
					}
					&:hover{
						color: #fff;
						&::after{
							width: 100%;
						}
					}
				}
			}
		}
		#_desktop_currency_selector{
			position: relative;
		}
	}
	#header-top{
		background-color: #111;
		.site-logo-text {
			color: #fff;
		}
		.header-left{
			margin-right: 55px;
		}
		#hor-menu .level0 > li > a{
			color: #fff;
		}
		#search-form .search-box input{
			height: 48px;
		}
		.megamenu{
			position: static;
			margin-right: 77px;
		}
		.header-right{
			.fal{
				font-size: 24px;
				color: #fff;
			}
			> .row > div{
				padding: 0;
				margin-left: 35px;
			}
			#cart_block{
				margin-right: 15px;
			}
		}
	}
}
.header-2{
	#header-top.sticky #hor-menu .nav > li > a {
	    line-height: 72px;
	}
	.jms-megamenu > ul > li.sub-home{
		padding-left: 0;
	}
	#hor-menu .nav > li > a{
		color: #111;
	}
	#header-top{
		.megamenu{
			position: static;
		}
		#hor-menu .nav > li{
			&.open > a{
				color: #111;
			}
			> a{
				line-height: 102px;
			}
		}
	}
	.header-logo{
		text-align: center;
	}
	.header-right{
		.row{
			justify-content: flex-end;
			align-items: center;
		}
	}
	#cart_block{
		margin-right: 14px;
		padding-bottom: 5px;
		.cart-icon{
			display: flex;
			align-items: center;
			i{
				font-size: 24px;
			}
		}
		.text-cart{
			display: block;
			font-size: 14px;
			color: #111;
			margin-right: 9px;
			letter-spacing: 0.3px;
			position: relative;
			top: 3px;
		}
		.ajax_cart_quantity{
			color: #fff;
			background-color: #111;
		}
	}
	#_desktop_user_info .account{
		i{
			display: none;
		}
		.text{
			display: block;
			font-size: 14px;
			color: #111;
			&.type-2{
				display: none;
			}
		}
	}
	#jms_ajax_search .btn-search{
		display: flex;
		align-items: center;
		.text{
			display: block;
			font-size: 14px;
			color: #111;
		}
		i{
			font-size: 20px;
			margin-right: 7px;
		}
	}
}
.header-3{
	#header-topbar{
		.header-left{
			letter-spacing: 0.2px;
		}
		.header-center{
			letter-spacing: 0.15px;
		}
		.header-right{
			text-align: right;
			> div{
				display: inline-flex;
				position: relative;
				&:not(:first-child){
					margin-left: 37px;
					&::before{
						content: "";
						position: absolute;
						background-color: #ebebeb;
						width: 1px;
						height: 48px;
						left: -21px;
						top: 50%;
						transform: translateY(-50%);
					}
				}
			}
			.dropdown-menu{
				min-width: 73px;
				padding: 15px 10px;
				text-align: center;
				top: 12px !important;
				left: -20px !important;
				background: #282828;
				box-shadow: 0 0 10px rgba(0,0,0,0.35);
				ul li a{
					color: #9f9f9f;
					position: relative;
					&::after{
						content: "";
						position: absolute;
						width: 0;
						height: 1px;
						background-color: #fff;
						left: 0;
						bottom: -3px;
						transition: all .4s;
					}
					&:hover{
						color: #fff;
						&::after{
							width: 100%;
						}
					}
				}
			}
		}
		#_desktop_currency_selector{
			position: relative;
		}
	}
	.jms-megamenu > ul > li.sub-home{
		padding-left: 0;
	}
	.header-right{
		> .row{
			justify-content: flex-end;
			align-items: center;
		}
		#search-form{
			margin-right: 15px;
			.jms-search-input{
				width: 300px;
				&.type-1{
					display: none; 
				}
				&.type-2{
					display: block;
					border: 1px solid #868686;
					background: transparent;
					color: #9f9f9f;
					height: 42px;
					padding: 13px 20px;
					background: url("../img/icons/search.png") 261px no-repeat;
					&::placeholder{
						color: #9f9f9f;
					}
				}
			}
			.button-search{
				display: none;
			}
		}
		#cart_block{
			margin-right: 14px;
		}
	}
	#header-top{
		background-color: #111;
		#hor-menu .nav li > a{
			color: #fff;
		}
		.site-logo-text{
			color: #fff;
		}
		.megamenu{
			position: static;
		}
		.header-right{
			.fal{
				font-size: 24px;
				color: #fff;
			}
		}
	}
}
.header-4{
	.header-sticky.sticky{
		background-color: #fff !important;
	}
	#hor-menu .nav > li > a{
		color: #000;
	}
	.header-left{
		margin-right: 79px;
	}
	.header-right{
		display: flex;
		>.row{
			margin: 0;
			> div{
				padding: 0;
				margin-left: 33px;
			}
		}
		.fal, .far{

			font-size: 18px;
		}
		.fa-shopping-bag{
			font-size: 20px;
		}
		.btn-group > a{
			color: #111;
		}
	}
	#jms_ajax_search .btn-search .text{
		display: inline-block;
		margin-left: 3px;
	}
	#_desktop_user_info .account{
		display: flex;
		flex-flow: row-reverse;
		align-items: center;
		.text{
			display: inline-block;
			margin-left: 4px;
			&.type-2{
				display: none;
			}
		}
	}
	.store-link{
		span{
			margin-left: 3px;
		}
	}
	#cart_block{
		.ajax_cart_quantity{
			background-color: #111;
			color: #fff;
			left: 15px;
			right: auto;
		}
		.cart-icon{
			display: flex;
			align-items: center;
			flex-direction: row-reverse;
			.text-cart{
				display: inline-block;
				margin-left: 12px;
			}
		}
	}
}
/* header 5 */
.header-5{
	.header-logo{
		margin-right: 17px;
	}
	.header-right{
		> .row{
			align-items: center;
		}
	}
	.layout-column.sidebar{
		margin-left: 4px;
	}
	#hor-menu .nav > li > a{
		color: #111;
	}
	#sidebar-btn{
		margin-top: 5px;
		display: inline-block;
		width: 26px;
		height: 16px;
		background: url("../img/icons/setting.png") no-repeat;
	}
	#_desktop_user_info .account{
		border: 1px solid #111;
		padding: 7px 20px;
		i{
			display: none;
		}
		.text{
			&.type-2{
				display: inline-block;
				text-transform: initial !important;
				color: #000;
			}
		}
	}
	.free-shipping{
		margin-left: 17px;
		letter-spacing: 0.15px;
		color: #000;
		span{
			position: relative;
			padding-right: 40px;
			&::after{
				content: "";
				position: absolute;
				display: inline-block;
				right: 4px;
				top: 8px;
				width: 30px;
				height: 1px;
				background-color: #363636;
			}
		}
	}
	#cart_block{
		margin-left: 17px;
		.cart-icon{
			color: #000;
			display: flex;
			align-items: center;
			i{
				font-size: 24px;
				margin-left: 10px;
			}
		}
		.text-cart{
			display: inline-block;
		}
		.ajax_cart_quantity{
			display: none;
			&.type-2{
				display: inline-block;
				position: static;
				margin-left: 4px;
			}
		}
	}
	#jms_ajax_search{
		margin-left: 5px;
		.btn-search{
			color: #000;
			i{
				display: none;
			}
			.text{
				display: inline-block;
			}
		}
	}
}

/* header 6 */
.header-6{
	background-color: #000;
	#header-top.header-sticky.sticky{
		height: auto !important;
		.col-logo{
			margin-bottom: 16px;
		}
	}
	#header-topbar{
		background-color: #000;
		padding-top: 7px;
		padding-bottom: 7px;
		.col-left{
			display: flex;
			> div{
				&:not(:last-child){
					margin-right: 44px;
					&::before{
						content: "";
						position: absolute;
						background-color: #767676;
						width: 1px;
						height: 20px;
						right: -23px;
						top: 50%;
						transform: translateY(-50%);
					}
				}
			}
			a{
				color: #9f9f9f;
				letter-spacing: 0.1px;
			}
		}
		.col-right{
			display: flex;
			justify-content: flex-end;
		}
		#search-form{
			width: 350px;
			.search-box input{
				max-width: 234px;
				margin-left: auto;
				padding-left: 29px;
				padding-right: 0;
				letter-spacing: 0.65px;
				color: #9f9f9f;
				background: transparent url("../img/icons/search.png") 0 no-repeat;
				&::placeholder{
					color: #9f9f9f;
				}
			}
		}
		.button-search{
			display: none;
		}
	}
	#header-top{
		text-align: center;
		.container-fluid{
			max-width: 100%;
			.row:nth-child(2){
				border-top: 1px solid #262626;
			}
		}
		.site-logo-text {
			color: #fff;
		}
		.col-logo{
			margin-top: 1px;
			margin-bottom: 25px;
		}
		#hor-menu .nav > li > a{
			line-height: 56px;
			color: #fff;
		}
	}
}

/* header 7 */
.header-7{
	padding: 60px 0px;
	.header-sticky.sticky{
		height: auto !important;
		padding: 19px 0 !important;
	}
	.layout-column.logo{
		min-width: 180px;
		text-align: right;
	}
	#search-form{
		max-width: 433px;
		margin: auto;
		.jms-search-input{
			display: none;
			&.type-2{
				display: inline-block;
				max-width: 326px;
				background: url("../img/icons/search-black.png") 0px no-repeat;
				border-bottom: 1px solid #ccc;
				border-radius: 0;
				padding: 4px 29px;
			}
		}
		.button-search{
			display: none;
		}
	}
}

/* header 8 */
.header-8{
	#header-top{
		padding: 10px 0;
	}
	.hor-megamenu{
		position: relative;
		border-top: 1px solid #ebebeb;
		.megamenu{
			position: static;
		}
	}
	#search-form{
		width: 350px;
		float: right;
		.search-box input{
			display: none;
			&.type-3{
				display: block;
				text-align: right;
				padding-right: 27px;
			}
		}
		button{
			padding: 0;
			i{
				font-size: 18px;
				position: relative;
				top: 2px;
			}
		}
	}
	.jms-megamenu .nav > li{
		padding: 0 13px;
		&.sub-home{
			padding-left: 0;
		}
		> a{
			line-height: 60px;
		}
	}
	.header-right{
		display: flex;
		justify-content: flex-end;
		align-items: center;
		.col-auto{
			padding: 0 13px;
		}
		.fal{
			font-size: 18px;
			color: #000;
		}
		#cart_block .cart-icon{
			color: #000;
			display: flex;
			flex-direction: row-reverse;
			i{
				margin-right: 8px;
			}
			.text-cart{
				display: inline-block;
				padding-right: 8px;
				text-transform: capitalize !important;
			}
			.ajax_cart_quantity{
				display: none;
				&.type-2{
					display: inline-block;
					top: 0;
				}
			}
		}
		.languages-info{
			&.type-1{
				display: none;
			}
			&.type-2{
				display: inline-block;
			}
		}
		#_desktop_currency_selector .btn-xs,
		.languages-info .btn-xs{
			position: relative;
			color: #000;
			margin-left: 25px;
			&::after{
				content: url("../img/icons/down.png");
				margin-left: 3px;
				position: relative;
				bottom: 2px;
			}
		}
		#_desktop_currency_selector .btn-xs{
			margin-left: 22px;
		}
	}
}

/* megamenu */
.menu-item.sub-home{
	.mega-dropdown-inner .row{
		&:first-child{
			overflow: auto;
		}
		&:nth-child(2){
			display: none;
		}
	}
	&.show-8-demo{
		.mega-dropdown-inner .row{
			&:first-child{
				max-height: 720px;
				overflow: hidden;
			}
			&:nth-child(2){
				display: block;
				.mod-content{
					text-align: center;
				}
				.view-all-demo{
					display: inline-block !important;
					margin-top: 36px;
					background: transparent;
					border: 1px solid #b7b7b7;
					height: 40px;
					line-height: 40px;
					padding: 0 20px;
					width: 340px;
					color: #fff !important;
					font-weight: 400;
					cursor: pointer;
					&:hover{
						background: #fff;
						border-color: #fff;
						color: #111 !important;
					}
				}
			}
		}
	}
}

/* header sidebar */
#header-sidebar{
	width: 350px !important;
	background: #ebebeb;
	padding: 40px;
  	text-align: center;
	padding-top: 150px;
	.btn-close{
		display: block;
		position: absolute;
		top: 51px;
		right: 35px;
		width: 20px;
		height: 20px;
		background: url("../img/icons/close-sidebar.png") no-repeat;
	}
	.logo-sidebar{
		display: block;
		margin-bottom: 19px;
	}
	.desc{
		color: #333;
		font-family: 'Old Standard TT', serif;
		letter-spacing: 0.7px;
	}
	.banner{
		margin-top: 41px;
		margin-bottom: 53px;
	}
	.block-newsletter{
		.title{
			display: none;
		}
		.newsletter-input-group{
			flex-wrap: nowrap;
			input{
				margin-bottom: 0;
				display: none;
				&.sidebar{
					display: block;
					border: 0;
				}
			}
			.btn.active{
				display: none;
			}
			.btn-icon{
				display: flex;
				width: auto;
				border: 0;
				position: absolute;
				right: 0;
				top: 50%;
				padding: 0 15px;
				transform: translateY(-50%);
				background-color: transparent;
				z-index: 99;
				i{
					font-size: 20px;
					color: #666 !important;
				}
			}
		}
	}
	.block-contact{
		margin-top: 42px;
		line-height: 1.85;
		.block-content{
			padding: 0;
		}
		.address{
			margin-bottom: 9px;
		}
		.email, .opening{
			display: none;
		}
	}
	.social-links li{
		padding: 0;
		i{
			font-size: 18px;
  			color: #777;
		}
	}
	#social-links {
		margin-top: 69px;
		li{
			a{
				display: inline-flex;
				width: 42px;
				height: 42px;
				background-color: #fff;
				margin: 0 4px;
				justify-content: center;
				align-items: center;
			}
		}
	}
}
.sidebar-right-open .right-sidebar {
  right: 0px;
}
.sidebar-left-open .left-sidebar {
  left: 0px;
}
.sidebar-left-open .main-site {
    overflow: unset;
    left: 0;
    right:auto;
    position: relative;
}
.sidebar-right-open .main-site {
    overflow: unset;
    left:auto;
    right: 0;
    position: relative;
}
.sidebar-right-open .bg-overlay,
.sidebar-left-open .bg-overlay{
  opacity: 1;
  visibility: visible;
}
.sidebar-open {
  overflow-x: hidden;
}

/* promobar */
.promobar-fixed{
	text-align: center;
	color: #fff;
	letter-spacing: 0.15px;
	line-height: 50px;
	.container{
		position: relative;
	}
	p{
		margin-bottom: 0;
		a{
			color: #fff;
			position: relative;
			margin-left: 23px;
			&::after{
				content: "";
				position: absolute;
				width: 100%;
				height: 1px;
				background-color: #fff;
				bottom: -2px;
				left: 0;
			}
		}
	}
	span{
		font-weight: 600;
		color: #ff794f;
		margin-right: 5px;
	}
	.close{
		display: inline-block;
		width: 13px;
		height: 13px;
		background: url("../img/icons/close-promobar.png") no-repeat;
		top: 50%;
		transform: translateY(-50%);
		right: 15px;
	}
}

/* vermenu btn */
.vermenu-btn{
	display: inline-block;
	width: 40px;
	height: 20px;
	background: url("../img/icons/menu.png") no-repeat;
}
#ver-menu{
	position: fixed;
	width: 100%;
	.ver-content{
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		position: relative;
	}
	.jms-megamenu ul li a {
		line-height: 50px;
	}
	.nav > li{
		text-align: center;
		a{
			text-transform: uppercase;
		}
	}
	.close-vermenu{
		border: 0;
		display: inline-block;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		top: 90px;
		width: 32px;
		height: 32px;
		background: url("../img/icons/close-vermenu.png") no-repeat;
	}
}


/* alertbox */
.alertbox-fixed{
	background-color: #111;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	&.type-2{
		background-color: #f0f0f0;
		.addon-alertbox .alert-info{
			background-color: #f0f0f0;
			color: #000;
			a{
				color: #000;
				&::after{
					background-color: #000;
				}
			}
		}
		.close{
			background: url("../img/icons/close.png") no-repeat;
		}
	}
}
.addon-alertbox{
	position: relative;
	.alert-info{
		position: relative;
		background-color: #111;
		color: #fff;
		border: 0;
		border-radius: 0;
		margin: 0;
		padding: 17.5px 0;
		line-height: 1;
		letter-spacing: 0.2px;
		p{
			margin-bottom: 0;
		}
		a{
			color: #fff;
			position: relative;
			margin-left: 25px;
			&::after{
				content: "";
				width: 100%;
				position: absolute;
				height: 1px;
				background-color: #fff;
				bottom: -1px;
				left: 0;
			}
		}
	}
	.close{
		opacity: 1;
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		width: 13px;
		height: 13px;
		background: url("../img/icons/alert-close.png") no-repeat;
	}
}

/* promobar! */
.jms-row.promo-bar{
	margin-top: 1px;
	color: #fff;
	background-color: $active;
	padding: 8px 0;
	.container-fluid{
		max-width: 1250px;
		> .row{
			align-items: center;
		}
	}
	p{
		margin-bottom: 0;
	}
	.col{
		font-size: 16px;
		font-weight: 700;
		text-align: center;
		letter-spacing: 0.4px;
	}
	.btn{
		padding: 5px 20px;
		font-size: 16px;
		letter-spacing: 0.3px;
		color: #fff;
		border-color: #fff;
		background-color: transparent;
		min-width: 109px;
		&:hover{
			border-color: #000;
			background-color: #000;
		}
	}
	.right p{
		text-align: right;
	}
}

/* slider */
.slider-home-1{
	.text-2{
		letter-spacing: 2px;
	}
	.text-3{
		letter-spacing: 0.2px;
	}
	.btn{
		padding: 9px 37px;
		border-color: #363636;
	}
}
.fraction-slider .prev{
	background: url("../img/icons/prev.png") center no-repeat;
}
.fraction-slider .next{
	background: url("../img/icons/next.png") center no-repeat;
}

/* category 1! */
.category-1{
	padding: 112px 0 120px;
	background-color: $active;
	.addon-title h3{
		color: #fff;
	}
	.jms-banner{
		&:hover > a img{
			transform: scale(1.15);
		}
		> a{
			display: block;
			overflow: hidden;
			img{
				transition: 1s all;
			}
		}
	}
	.banner-content p{
		margin-bottom: 0;
		background-color: #fff;
		text-align: center;
		text-transform: uppercase;
		font-size: 19px;
		font-weight: 700;
		color: #000;
		padding: 15.5px 20px;
		line-height: 1;
	}
}

/* instagram */
.instagram_block{
	a.instagram_elements {
	    display: block;
	    position: relative;
	    &:hover{
	    	&::after{
		    	opacity: 1;
		    }
		    .info-block{
		    	opacity: 1;
		    }
		}
	    &::after{
	    	content: "";
			display: block;
			position: absolute;
			z-index: 1;
			left: 0;
			top: 0;
			background-color: rgba(0, 0, 0, 0.65);
			height: 100%;
			width: 100%;
			opacity: 0;
			transition: opacity .2s;
	    }
	}
	.info-block {
		opacity: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 9;
		span{
			color: #fff;
			font-size: 20px;
			margin: 0 5px;
		}
	}
}

/* view mode */
.view-mode{
	display: flex;
	.switch-view{
		width: 44px;
		height: 44px;
		display: inline-flex;
		border: 2px solid #e1e1e1;
		cursor: pointer;
		&.view-grid{
			margin-right: 10px;
			background: url("../img/icons/grid.png") center no-repeat;
			&.active{
				background: url("../img/icons/grid-active.png") center no-repeat;
			}
		}
		&.view-list{
			background: url("../img/icons/list.png") center no-repeat;
			&.active{
				background: url("../img/icons/list-active.png") center no-repeat;
			}
		}
	}
}

/* search widget */
#category #search_widget{
	margin-top: 46px;
	.title-block{
		display: block;
	}
	form{
		margin-top: 24px;
	}
}
#search_widget{
	margin-bottom: 46px;
	.title-block{
		display: none;
	}
	form{
		position: relative;
		&::after{
			content: "\f002";
			font-family: "Font Awesome 5 Pro";
			font-size: 16px;
			color: #555;
			position: absolute;
			right: 10px;
			top: 50%;
			transform: translateY(-50%);
		}
	}
	input{
		padding: 0 12px;
		font-size: 14px;
		color: #555;
		letter-spacing: 0.2px;
		&::placeholder{
			opacity: 1;
		}
	}
}

/* service */
.jms-row.service{
	padding: 43px 0;
	background-color: #111;
	&.v2{
		background-color: #fff;
		.feature-box .include_content_s p span {
			color: #000;
		}
	}
}
.feature-box{
	display: flex;
	align-items: center;
	justify-content: center;
	.image{
		display: inline-block;
		margin-right: 16px;
	}
	.include_content_s{
		display: inline-block;
		p{
			color: #9f9f9f;
			line-height: 1.7;
			letter-spacing: 0.1px;
			span{
				font-size: 16px;
				color: #fff;
			}
		}
	}
	p{
		margin-bottom: 0;
	}
}

/* email subscription */
.email_subscription{
	.newsletter-desc {
		margin-bottom: 18px;
		line-height: 31px;
		letter-spacing: 0.15px;
		font-size: 14px;
	}
	.newsletter-input-group{
		input{
			border-width: 2px;
			width: 100%;
			margin-bottom: 18px;
			font-size: 13px;
			height: 46px;
			border-color: #e1e1e1;
			&.sidebar{
				display: none;
			}
		}
		button{
			width: 100%;
			padding-top: 6.5px;
			padding-bottom: 6.5px;
			font-size: 16px;
			font-weight: 600;
			&.btn-icon{
				display: none;
			}
		}
	}
}

/* gifts */
.jms-row.gifts{
	.addon-title{
		margin-bottom: 17px;
	}
	.layout-column.title{
		margin-bottom: 29px;
	}
	.jms-banner{
		margin-bottom: 28px;
		position: relative;
		.banner-content{
			position: absolute;
			bottom: 50px;
			left: 0;
			background: #fff;
			padding: 11px 20px 5px;
			font-family: 'Old Standard TT', serif;
			text-align: center;
			min-width: 440px;
			p{
				margin-bottom: 0;
				font-size: 34px;
				color: #010101;
			}
		}
	}

}

/* blog */
.blog-type-1{
	background: #f8f8f8;
	padding: 112px 0 85px;
}
.blog-carousel{
	.post-title{
		text-align: left;
		letter-spacing: 0.1px;
		margin-top: 20px;
		a{
			font-size: 24px;
			color: #000;
			font-weight: 500;
		}
	}
	.post-created {
		position: absolute;
		top: 12px;
		background: #fff;
		left: 12px;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 3px 11px 7px 8px;
		.day{
			font-size: 28px;
			font-weight: 700;
			color: #000;
		}
		.month{
			font-size: 15px;
			color: #010101;
		}
	}
	.post-intro{
		p{
			line-height: 1.85;
			letter-spacing: -0.1px;
		}
	}
	.post-meta{
		text-align: left;
		li{
			margin: 0;
			margin-right: 5px;
			font-size: 13px;
			color: #888;
			font-style: italic;
			position: relative;
			&:not(:last-child)::after{
				content: ",";
				position: absolute;
				bottom: 0;
				right: -4px;
			}
		}
	}
	.post-intro {
		margin: 19px 0 18px;
	}
}

/* banner lookbook */
.banner-lookbook{
	padding: 119px 0;
	.addon-box{
		text-align: center;
		color: #f3f3f3;
		.text-1{
			font-family: 'Old Standard TT', serif;
			font-size: 20px;
			margin-bottom: 17px;
		}
		.text-2{
			font-weight: 600;
			font-size: 55px;
			margin-bottom: 50px;
		}
		.btn{
			color: #f3f3f3;
			border-color: #fff;
			padding: 9px 37px;
			background: transparent;
			&:hover{
				border-color: #111;
				background-color: #111;
			}
		}
		p{
			line-height: 1;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
}

/* newsletter */
.email_subscription .block-title{
	display: none;
}
.newsletter-type-1{
	background-color: #111;
	padding: 113px 0 109px;
	.block-title.type-1{
		display: block;
		color: #fff;
		font-size: 30px;
		letter-spacing: 1.4px;
		font-weight: 600;
		text-transform: uppercase;
		margin-bottom: 4px;
	}
	.title{
		margin-right: 50px;
	}
	.block-content{
		margin-left: auto;
	}
	.email_subscription{
		display: flex;
		align-items: center;
		.newsletter-desc{
			color: #9f9f9f;
			margin-bottom: 0;
		}
	}
	.newsletter-input-group{
		flex-wrap: nowrap;
		input{
			margin-bottom: 0;
			background: transparent;
			border-color: #464646;
			margin-right: 11px;
			min-width: 490px;
			height: 52px;
			color: #9f9f9f;
			&::placeholder{
				color: #9f9f9f;
			}
		}
		button{
			background: #fff;
			color: #111;
			border-color: #fff;
			padding-left: 51px;
			padding-right: 51px;
		}
	}
}

.newsletter-type-2{
	padding: 113px 0 109px;
	.block-title.type-1{
		display: block;
		color: #fff;
		font-size: 30px;
		letter-spacing: 1.4px;
		font-weight: 600;
		text-transform: uppercase;
		margin-bottom: 4px;
	}
	.title{
		margin-right: 50px;
	}
	.block-content{
		margin-left: auto;
	}
	.email_subscription{
		display: flex;
		align-items: center;
		.newsletter-desc{
			color: #fff;
			margin-bottom: 0;
		}
	}
	.newsletter-input-group{
		flex-wrap: nowrap;
		input{
			margin-bottom: 0;
			background: transparent;
			border-color: #fff;
			margin-right: 11px;
			min-width: 490px;
			height: 52px;
			color: #fff;
			&::placeholder{
				color: #fff;
			}
		}
		button{
			background: #fff;
			color: #111;
			border-color: #fff;
			padding-left: 51px;
			padding-right: 51px;
		}
	}
}

/* brand */
.brand-carousel{
	padding: 50px 0;
	&.owl-carousel{
		img{
			width: auto;
		}
	}
	.brand-item{
		display: flex;
		justify-content: center;
	}
}

/* addon video */
.jms-video{
	.close{
		display: inline-block;
		width: 13px;
		height: 13px;
		background: url("../img/icons/close.png") no-repeat;
	}
	.video-image{
		cursor: pointer;
	}
	.modal.show .modal-dialog{
		top: 50%;
		transform: translate(-50%, -50%);
	}
	.modal-dialog{
		min-width: 900px;
		position: absolute;
		margin: 0 auto;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
		transition: .4s all;
	}
	.modal-content{
		border-radius: 0;
		border: 0;
	}
	.modal-body{
		padding: 25px;
	}
}

/* contact page */
#contact{
	#contact-info{
		.block-content{
			border: 0;
			padding: 0;
		}
	}
	#contact-wrapper{
		.social-links{
			display: flex;
			position: relative;
			margin-top: 31px;
			li{
				margin: 0;
				&.facebook a{
					background-color: #3c5a99;
				}
				&.twitter a{
					background-color: #309cea;
				}
				&.google-plus a{
					background-color: #d9002f;
				}
				&.instagram a{
					background-color: #c94836;
				}
				&.pinterest a{
					background-color: #BD2129;
				}
				&.youtube a{
					background-color: #F40000;
				}
				&.vimeo a{
					background-color: #01A7EA;
				}
				&.linkedin a{
					background-color: #0271AE;
				}

			}
			a{
				width: 36px;
				height: 36px;
				border-radius: 50%;
				display: inline-flex;
				justify-content: center;
				align-items: center;
				margin-right: 9px;
				i{
					color: #fff;
					font-size: 17px;
				}
			}
		}
	}
}

/* home 2 */
.home_2{

}

/* home 3 */
.home_3{
	.addon-title h3{
		letter-spacing: 1.3px;
	}
	.brand{
		.container{
			max-width: 1265px;
		}
		.brand-carousel{
			padding: 116px 0;
		}
	}
	.banner-1{
		.banner-content{
			margin-top: 19px;
			p{
				margin-bottom: 0;
			}
			.text-1{
				font-size: 24px;
				font-weight: 600;
				color: #000;
				margin-bottom: 12px;
				letter-spacing: 0.5px;
			}
			.text-2{
				font-size: 14px;
				margin-bottom: 27px;
				letter-spacing: 0.14px;
			}
			.btn{
				border: 1px solid #111;
				font-weight: 400;
				font-size: 14px;
				letter-spacing: 0.3px;
				padding: 6px 15px;
				min-width: 160px;
			}
		}
	}
	.banner-bg{
		padding: 67px 0 75px;
		text-align: center;
		.text-1{
			font-size: 42px;
			font-weight: 700;
			color: #fff;
			letter-spacing: 0.3px;
			margin-bottom: 5px;
		}
		.text-2{
			position: relative;
			font-size: 42px;
			font-weight: 700;
			color: $active;
			font-style: italic;
			display: inline-block;
			letter-spacing: 0.8px;
			padding: 6px 23px 2px;
			margin-bottom: 14px;
			z-index: 1;
			&::before{
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				transform: skewX(-21deg);
				background-color: #fff;
				z-index: -1;
			}
		}
		.text-3{
			color: #fff;
			font-size: 14px;
			letter-spacing: 0.3px;
			margin-bottom: 0;
		}
	}
	.jms-row.categories{
		.layout-column.content{
			display: flex;
			.addon-box{
				width: 20%;
				&:not(:nth-child(5)){
					margin-right: 10px;
				}
			}
			.banner-content{
				margin-top: 13px;
			}
			p{
				font-size: 19px;
				font-weight: 700;
				color: #000;
				margin-bottom: 0;
				letter-spacing: 0.2px;
			}
		}
	}
}

/* home 4 */
.home_4{
	.promobar-fixed{
		color: #000;
		p a{
			color: #000;
			&::after{
				background-color: #000;
			}
		}
	}
	.jms-row.banner{
		&.type-1, &.type-2, &.type-3{
			.banner-content{
				position: absolute;
				bottom: 80px;
				width: 100%;
				text-align: center;
				color: #fff;
				.text-1{
					font-family: 'Old Standard TT', serif;
					font-size: 34px;
					letter-spacing: 0.6px;
					margin-bottom: 36px;
				}
				p{
					margin-bottom: 0;
				}
				.btn{
					color: #fff;
					border-color: #fff;
					font-size: 14px;
					font-weight: 400;
					border-width: 1px;
					letter-spacing: 0.3px;
					padding: 6px 23px;
					&:hover{
						border-color: #111;
					}
				}
			}
		}
		&.type-2{
			padding: 120px 0 112px;
			background-color: #232327;
			.container > .row{
				margin-left: -32px;
				margin-right: -32px;
			}
			.layout-column{
				padding: 0 32px;
			}
			.banner-content{
				bottom: 50px;
				.text-1{
					font-size: 30px;
					margin-bottom: 29px;
				}
				.btn{
					padding: 6px 16px;
					min-width: 178px;
				}
			}
		}
		&.type-3{
			background-color: #232327;
			padding-bottom: 120px;
			.addon-title h3{
				color: #fff;
			}
			.banner-content{
				margin-top: 19px;
				position: static;
				.text-1{
					font-size: 30px;
					margin-bottom: 29px;
				}
			}
		}
	}
	.jms-banner{
		position: relative;
	}
}

/* home 5 */
.home_5{
	.container{
		max-width: 1490px;
	}
	.category{
		.container-fluid{
			max-width: 100%;
			padding: 0;
		}
		.product_carousel{
			flex: 0 0 42%;
			max-width: 42%;
			padding-left: 235px;
			padding-right: 7px;
			margin-top: -4px;
		}
		.category_carousel{
			flex: 0 0 58%;
			max-width: 58%;
			padding-left: 81px;
		}
	}
	.product_carousel{
		.addon-box:nth-child(3){
			max-width: 419px;
			margin: auto;
		}
		.addon-title{
			text-align: left;
			margin-bottom: 15px;
			h3{
				letter-spacing: 0;
				line-height: 1.39;
				margin-bottom: 5px;
				padding-right: 65px;
			}
		}
		.addon-desc{
			text-align: left;
			font-size: 14px;
			font-style: italic;
			color: #555;
			line-height: 2;
			letter-spacing: 0.15px;
			text-transform: initial;
			margin-bottom: 50px;
		}
		.owl-theme .owl-controls div{
			top: calc(50% - 50px);
			&.owl-prev{
				left: -75px;
			}
			&.owl-next{
				right: -75px;
			}
		}
		.productbox-2{
			.product-title{
				text-align: center !important;
			}
			.variant-links{
				display: none;
			}
			.product-action{
				justify-content: center;
			}
		}
	}
	.category_carousel{
		.control{
			position: absolute;
			bottom: 39px;
			right: 23px;
			display: flex;
			.carousel-control-next{
				opacity: 1;
				margin: 0 7.5px;
				position: static;
				width: 52px;
				height: 25px;
				background: url("../img/icons/next.png") no-repeat;
				span{
					display: none;
				}
			}
			.carousel-control-prev{
				opacity: 1;
				margin: 0 7.5px;
				position: static;
				width: 52px;
				height: 25px;
				background: url("../img/icons/prev.png") no-repeat;
				span{
					display: none;
				}
			}
		}
		.carousel-item{
			a{
				display: block;
				span{
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					font-family: 'Old Standard TT', serif;
					font-size: 48px;
					font-weight: 700;
					color: #fff;
					text-transform: uppercase;
				}
			}
		}
	}
	.jms-row.categories{
		.layout-column.content{
			display: flex;
			.addon-box{
				width: 20%;
				&:not(:nth-child(5)){
					margin-right: 10px;
				}
			}
			.banner-content{
				margin-top: 13px;
			}
			p{
				font-size: 19px;
				font-weight: 700;
				color: #000;
				margin-bottom: 0;
				letter-spacing: 0.2px;
			}
		}
	}
}

/* home 6 */
.home_6{
	.banner{
		.container-fluid > .row{
			margin-left: -5px;
			margin-right: -5px;
		}
		.layout-column{
			padding: 0 5px;
		}
		.banner-content{
			text-align: center;
			margin-top: 19px;
			p{
				margin-bottom: 0;
			}
			.text{
				font-size: 22px;
				font-weight: 600;
				color: #000;
				margin-bottom: 19px;
				letter-spacing: 2px;
			}
			.btn{
				font-size: 14px;
				font-weight: 400;
				border: 1px solid #000;
				padding: 6px 31px;
			}
		}
	}
	.banner-carousel{
		.control{
			display: flex;
			justify-content: flex-end;
			margin-top: 24px;
			.carousel.slide{
				padding-bottom: 24px;
				border-bottom: 1px solid #ebebeb;
			}
			.carousel-control-next{
				opacity: 1;
				margin-left: 15px;
				position: static;
				width: 52px;
				height: 25px;
				background: url("../img/icons/next.png") no-repeat;
				span{
					display: none;
				}
			}
			.carousel-control-prev{
				opacity: 1;
				position: static;
				width: 52px;
				height: 25px;
				background: url("../img/icons/prev.png") no-repeat;
				span{
					display: none;
				}
			}
		}
		.content{
			position: absolute;
			bottom: 100px;
			left: 100px;
			color: #fff;
			.text-1{
				font-size: 30px;
				font-weight: 600;
				letter-spacing: 2.85px;
				margin-bottom: 10px;
			}
			.text-2{
				letter-spacing: 0.7px;
				margin-bottom: 45px;
			}
			.btn{
				background: #fff;
				border-color: #fff;
				padding: 7.5px 44px;
				font-weight: 400;
				font-size: 14px;
				letter-spacing: 1.4px;
				&:hover{
					background-color: #000;
					border-color: #000;
				}
			}
		}
	}
}

/* home 7 */
.home_7{
	.col-sidebar{
		flex: 0 0 10%;
		max-width: 10%;
		.dropdown-toggle::after{
			display: none;
		}
		.store-locator{
			text-transform: uppercase;
		}
		#_desktop_user_info{
			margin-bottom: 16px;
			a{
				color: #111;
				font-size: 13px;
			}
		}
		.store-locator{
			color: #111;
			font-size: 13px;
			letter-spacing: 0.3px;
		}
		#cart_block{
			font-size: 13px;
			padding: 0;
			margin-bottom: 16px;
			.cart-icon{
				display: flex;
				align-items: center;
			}
			.ajax_cart_quantity{
				display: none;
				&.type-2{
					display: inline-block;
					position: static;
					font-size: 13px;
				}
			}
			.fa-shopping-bag{
				display: none;
			}
			.text-cart{
				display: inline-block;
				color: #111;
				margin-right: 3px;
			}
		}
		.addon-box{
			text-align: right;
			&:first-child{
				margin-bottom: 178px;
				margin-top: -11px;
			}
		}
		.level-1{
			> li{
				line-height: 37px;
				> a{
					font-size: 20px;
					font-weight: 600;
					color: #111;
					letter-spacing: -0.1px;
				}
			}
		}
		.level-2{
			margin: 3px 0 20px;
			> li{
				line-height: 28px;
				> a{
					letter-spacing: 0.3px;
				}
			}
		}
	}
	.col-main{
		flex: 0 0 90%;
		max-width: 90%;
		.item .js-product-miniature{
			margin-bottom: 47px;
		}
	}
}

/* home 8 */
.home_8{
	.banner-type-1{
		margin-top: 8px;
		.container-fluid{
			max-width: 100%;
			padding: 0 8px;
			> .row{
				margin-left: -4px;
				margin-right: -4px;
			}
		}
		.layout-column{
			padding: 0 4px;
		}
		.jms-banner{
			position: relative;
		}
		.banner-content{
			position: absolute;
			bottom: 20px;
			background-color: rgba(255,255,255,0.9);
			text-align: center;
			padding: 8px 10px;
			min-width: 300px;
			left: 50%;
			transform: translateX(-50%);
			p{
				margin-bottom: 0;
				font-size: 19px;
				font-weight: 600;
				color: #000;
				letter-spacing: 2px;
			}
		}
	}
	.banner-type-2{
		.container-fluid{
			max-width: 100%;
			padding: 0;
		}
		.jms-banner{
			position: relative;
		}
		.banner-content{
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 80px;
			.text-1{
				font-size: 20px;
				color: #000;
				font-family: 'Old Standard TT', serif;
				margin-bottom: 13px;
				letter-spacing: 0.4px;
			}
			.text-2{
				font-size: 32px;
				color: #000;
				font-weight: 600;
				margin-bottom: 23px;
				letter-spacing: 1.3px;
			}
			.text-3{
				letter-spacing: 0.7px;
			}
			p{
				margin-bottom: 0;
			}
		}
	}
}

/* home 9 */
.home_9{
	.banner-type-1{
		.jms-banner{
			position: relative;
		}
		.banner-1{
			.banner-content{
				right: 117px;
			}
		}
		.banner-2{
			margin-bottom: 28px;
			.banner-content{
				right: 108px;
			}
		}
		.banner-3, .banner-4{
			.banner-content{
				left: 60px;
			}
		}
		.banner-content{
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			p{
				font-size: 22px;
				font-weight: 600;
				color: #000;
				margin-bottom: 0;
				letter-spacing: 1px;
			}
		}
	}
	.banner-type-2{
		.banner-content{
			left: 65px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			p{
				margin-bottom: 0;
			}
			.text-1{
				font-size: 22px;
				font-weight: 600;
				color: #000;
				margin-bottom: 6px;
			}
			.text-2{
				letter-spacing: 0.75px;
				margin-bottom: 4px;
			}
		}
	}
	.jms-row.sale-off{
		p{
			margin-bottom: 0;
		}
		.addon-title{
			margin-bottom: 16px;
			h3{
				font-size: 35px;
				font-family: 'Old Standard TT', serif;
				text-transform: initial;
				letter-spacing: 0;
				line-height: 1.45;
			}
		}
		.addon-desc{
			font-size: 14px;
			color: #555;
			letter-spacing: 0.3px;
			margin-bottom: 55px;
		}
		.btn{
			min-width: 202px;
			border-color: #464646;
		}
	}
}

/* footer top */
#footer .footer-top-1{
	padding: 35px 0;
	border-top: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
	.socials{
		text-align: right;
	}
	.payment-img{
		text-align: left;
		img{
			margin-left: 37px;
		}
	}
	.social-links{
		position: relative;
		margin-right: 29px;
		&::after{
			content: "";
			position: absolute;
			right: -44px;
			top: 50%;
			transform: translateY(-50%);
			width: 1px;
			height: 37px;
			background-color: #b7b7b7;
		}
		li{
			margin: 0;
			&.facebook a{
				background-color: #3c5a99;
			}
			&.twitter a{
				background-color: #309cea;
			}
			&.google-plus a{
				background-color: #d9002f;
			}
			&.instagram a{
				background-color: #c94836;
			}
			&.pinterest a{
				background-color: #BD2129;
			}
			&.youtube a{
				background-color: #F40000;
			}
			&.vimeo a{
				background-color: #01A7EA;
			}
			&.linkedin a{
				background-color: #0271AE;
			}

		}
		a{
			width: 36px;
			height: 36px;
			border-radius: 50%;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			margin: 0 7px;
			i{
				color: #fff;
				font-size: 17px;
			}
		}
	}
}

/* footer */
footer .row{
	padding: 0;
}
#index #footer{
	margin-top: 0;
}
#footer{
	background: #fff;
	margin-top: 8rem;
	ul{
		margin-bottom: 0;
	}
	li a{
		font-size: 14px;
	  	text-transform: capitalize;
	  	letter-spacing: 0.1px;
	  	&:hover{
	  		color: $active;
	  	}
	}
	.block-content{
		ul{
			li{
				line-height: 30px;
			}
		}
	}
	.block-title{
		display: block;
		&.type-1{
			display: none;
		}
	}
	.block-contact{
		.block-title{
			.text-2{
				display: none;
			}
		}
		.block-content{
			margin-top: 11px;
			border: 0;
			padding: 0;
			font-style: italic;
			line-height: 2;
			font-size: 14px;
			letter-spacing: -0.001px;
			.info-address{
				margin-bottom: 10px;
			}
			.section{
				&.phone, &.email{
					margin-bottom: 7px;
				}
			}
		}
	}
}
#footer-main .block .block-title {
	letter-spacing: 0.3px;
}
#footer-copyright{
	line-height: 30px;
	text-transform: initial;
	letter-spacing: -0.3px;
	.quick-links{
		display: flex;
		justify-content: flex-end;
		flex-wrap: wrap;
		a{
			&:not(:first-child){
				margin-left: 35px;
			}
		}
	}
}
.footer-1{
	.layout-column.newsletter{
		min-width: 449px;
	}
	#footer-copyright{
		background-color: #ebebeb;
		padding: 16px 0;
	}
}
.footer-2{
	#footer-copyright{
		background-color: #ebebeb;
		padding: 16px 0;
	}
}
.footer-3{
	&#footer{
		.social-links li{
			display: block;
			margin: 0;
			line-height: 30px;
			.fa{
				font-size: 15px;
				margin-right: 10px;
			}
		}
		.block-contact{
			.block-title{
				.text-1{
					display: none;
				}
				.text-2{
					display: block;
				}
			}
			.block-content{
				.section{
					&.address{
						display: none;
					}
				}
			}
		}
	}
	#footer-copyright{
		background-color: #ebebeb;
		padding: 16px 0;
	}
}
.footer-4{
	border-top: 1px solid #ebebeb;
	#footer-main{
		padding-top: 71px;
		padding-bottom: 50px;
	}
	&#footer{
		.email_subscription{
			text-align: center;
			max-width: 680px;
			margin: auto;
			border-color: #e1e1e1;
			.newsletter-desc{
				margin-bottom: 28px;
			}
		}
		.newsletter-input-group{
			flex-wrap: nowrap;
			input{
				margin-bottom: 0;
				height: 52px;
			}
			button{
				max-width: 180px;
				margin-left: 10px;
				background: transparent;
				color: #111;
				letter-spacing: 0.2px;
				&:hover{
					background-color: #111;
					color: #fff;
				}
			}
		}
		.block-title{
			display: none;
			&.type-1{
				display: block;
				font-size: 30px;
				font-weight: 600;
				letter-spacing: 1.3px;
				padding-bottom: 0;
				margin-bottom: 5px;
			}
		}
		.footer-copyright{
			background: transparent;
			border-top: 1px solid #ebebeb;
			padding: 31px 0 29px;
			.container > .row:first-child{
				margin-bottom: 26px;
			}
			.socials{
				text-align: right;
			}
			.payment-img{
				text-align: left;
				img{
					margin-left: 37px;
				}
			}
			.social-links{
				position: relative;
				margin-right: 29px;
				&::after{
					content: "";
					position: absolute;
					right: -44px;
					top: 50%;
					transform: translateY(-50%);
					width: 1px;
					height: 37px;
					background-color: #b7b7b7;
				}
				li{
					margin: 0;
					&.facebook a{
						background-color: #3c5a99;
					}
					&.twitter a{
						background-color: #309cea;
					}
					&.google-plus a{
						background-color: #d9002f;
					}
					&.instagram a{
						background-color: #c94836;
					}
					&.pinterest a{
						background-color: #BD2129;
					}
					&.youtube a{
						background-color: #F40000;
					}
					&.vimeo a{
						background-color: #01A7EA;
					}
					&.linkedin a{
						background-color: #0271AE;
					}

				}
				a{
					width: 36px;
					height: 36px;
					border-radius: 50%;
					display: inline-flex;
					justify-content: center;
					align-items: center;
					margin: 0 7px;
					i{
						color: #fff;
						font-size: 17px;
					}
				}
			}
		}
	}
}
.footer-5{
	border-top: 1px solid #ebebeb;
	#footer-main{
		padding-top: 120px;
	}
	.container{
		max-width: 1194px;
		> .row{
			align-items: flex-end;
		}
	}
	.layout-column{
		&.col-center{
			min-width: 530px;
			text-align: center;
			.logo{
				display: block;
				margin-bottom: 19px;
			}
			.desc{
				font-family: 'Old Standard TT', serif;
				color: #333;
				letter-spacing: 0.7px;
			}
			.block-newsletter{
				margin-top: 50px;
			}
			.newsletter-input-group{
				input{
					height: 56px;
					border-right: 0;
				}
			}

		}
		&.col-right{
			text-align: right;
		}
	}
	.block-newsletter{
		.title{
			display: none;
		}
		.newsletter-input-group{
			flex-wrap: nowrap;
			input{
				margin-bottom: 0;
			}
			button{
				width: auto;
				padding: 6.5px 21px;
			}
		}
		.email_subscription{
			padding-bottom: 0 !important;
		}
	}
	#social-links{
		margin-top: 55px;
		li{
			margin: 0 16px;
		}
		.fa{
			font-size: 27px;
			color: #000;
		}
	}
	#footer-copyright {
		padding: 10px 0 20px;
		background: transparent;
	}
}
#footer.footer-6{
	padding: 105px 0 117px;
	background-color: #000;
	#footer-main{
		.col-logo{
			max-width: 25%;
		}
		.col-right{
			max-width: 75%;
		}
	}
	.footer-main{
		padding: 0 0 18px;
		.container > .row{
			align-items: center;
		}
		.col-right{
			ul{
				display: flex;
				justify-content: flex-end;
				flex-wrap: wrap;
				li{
					position: relative;
					&:not(:first-child){
						margin-left: 43px;
						&::before{
							content: "";
							position: absolute;
							width: 6px;
							height: 6px;
							background-color: $active;
							left: -24px;
							top: 50%;
							border-radius: 50%;
							transform: translateY(-50%);
						}
					}
					a{
						font-size: 15px;
						color: #c5c5c5;
						text-transform: uppercase;
						font-weight: 600;
					}
				}
			}
		}
	}
	.site-logo-text {
		color: #fff;
	}
	#footer-copyright{
		color: #c5c5c5;
		.socials{
			text-align: right;
			ul{
				position: relative;
				top: 5px;
				li{
					margin: 0;
					margin-left: 15px;
					a{
						font-size: 22px;
						color: #c5c5c5;
					}
				}
			}
		}
	}
}


@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }


/***** other page ******/
#blockcart-modal{
	.modal-dialog .close{
		padding: 0;
		margin: 0;
		right: 14px;
	}
	.modal-title {
		letter-spacing: 0;
		font-weight: 500;
		margin: auto;
	}
	.product-name{
		font-size: 15px;
		color: #111;
	}
	.product-image{
		border: 0;
	}
	.content_price{
		font-size: 18px;
		font-weight: 700;
		font-style: normal;
		text-transform: capitalize;
		color: #000;
	}
	.cart-content{
		color: #111;
	}
	.divide-left{
		line-height: 1.85;
		border-left: 0;
		border-right: 1px solid #ebebeb;
		span{
			color: #111;
		}
	}
	.divide-right{
		.btn-group a:first-child{
			margin-right: 10px;
			cursor: pointer;
			&:hover{
				color: #fff;
			}
		}
	}
}

.block-social ul li{
	a{
		color: #fff;
	}
	&.facebook a{
		background: #3c5a99;
	}
	&.twitter a{
		background: #309cea;
	}
	&.googleplus a{
		background: #d9002f;
	}
	&.pinterest a{
		background: #E60019;
	}
}
.cart_block_list{
	max-height: 300px;
	overflow-y: auto;
}
.quickview-modal{
	&.show{
		.horizonal-thumbs .js-qv-mask{
			opacity: 1;
			transition-delay: .3s;
		}
	}
	.modal-dialog{
		max-height: 772px;
		overflow: hidden;
	}
	.images-container{
		position: relative;
		overflow: hidden;
	}
	.horizonal-thumbs{
		.js-qv-mask{
			position: relative;
			bottom: 0;
			opacity: 0;
			transition: all 400ms;
		}
		.slick-arrow{
			opacity: 1;
		}
	}
}
.modal-open .zoomContainer {
	z-index: 1051;
}

.page-not-found {
	padding: 5rem 0 5rem;
}

.wishlist-btns{
	display: inline-flex;
	align-items: center;
}
.wishlisturl.form-group {
	margin-bottom: 50px;
}
.wlp_bought_list {
	.product_infos {
		margin-top: 15px;
	}
	#s_title {
		color: #111;
	}
	label{
		color: #111;
	}
	.group_btn{
		a{
			margin-right: 5px;
		}
	}
}
.wl_send.std {
	margin-top: 50px;
}
#hideSendWishlist {
	margin-bottom: 20px;
}
#hideWishlist {
	float: none;
}
#block-order-detail .display_list{
	margin-bottom: 0;
	margin-left: auto;
}
