@charset "UTF-8";
@import url(product.css);
@import url(product-list.css);
@import url(contact.css);
@import url(cart.css);
@import url(checkout.css);
@import "_varians.scss";
/*@import url(order-detail.css);*/

.container-fluid{
	max-width: 1790px;
	padding: 0 15px;
}
.form-control{
	color: #555;
	&::placeholder{
		color: #555;
	}
}
.social-links .fa{
	font-family: "Fontawesome" !important;
}
a{
	transition: all .4s;
}

/* header! */
#header{
	.container-fluid{
		> .row{
			padding: 0;
		}
	}
}
#header-top{
	position: relative;
	.header-right .dropdown-menu{
		top: calc(100% + 22px);
		right: -13px;
	}
	.dropdown-menu.shoppingcart-box{
		min-width: 370px;
		max-width: 370px;
	}
	#_desktop_user_info .user-info-content a{
		position: relative;
		&:hover{
			color: #fff;
			&::after{
				width: 100%;
			}
		}
		&::after{
			content: "";
			position: absolute;
			width: 0;
			height: 1px;
			background-color: #fff;
			left: 0;
			bottom: -2px;
			transition: all .4s;
		}
	}
	#hor-menu{
		.nav{
			> li > a{
				display: block;
				line-height: 72px;
			}
			li{
				&.sub-home .mod-content a{
					display: block;
					text-align: center;
					&:hover .text{
						color: #fff;
						&::after{
							width: 100%;
						}
					}
					.text{
						position: relative;
						&::after{
							content: "";
							position: absolute;
							width: 0;
							height: 1px;
							background-color: #fff;
							left: 0;
							bottom: 4px;
							transition: all .4s;
						}
					}
				}
				&.open > a{
					color: #fff;
					span{
						&::after{
							width: 100%;
						}
					}
				}
				> a{
					letter-spacing: 0.3px;
					&:hover span::after{
						width: 100%;
					}
					span{
						position: relative;
						&::after{
							content: "";
							position: absolute;
							width: 0;
							height: 1px;
							background-color: #fff;
							left: 0;
							bottom: -3px;
							transition: all .4s;
						}
					}
				}
			}
		}
		.item-fullwidth .dropdown-menu{
			padding: 40px 0;
		}
	}
}
.header-2{
	#header-topbar{
		.header-right .dropdown-menu{
			min-width: 73px;
			padding: 15px 10px;
			text-align: center;
			top: 12px !important;
			left: -20px !important;
			background: #282828;
			box-shadow: 0 0 10px rgba(0,0,0,0.35);
			ul li a{
				color: #9f9f9f;
				position: relative;
				&::after{
					content: "";
					position: absolute;
					width: 0;
					height: 1px;
					background-color: #fff;
					left: 0;
					bottom: -3px;
					transition: all .4s;
				}
				&:hover{
					color: #fff;
					&::after{
						width: 100%;
					}
				}
			}
		}
		#_desktop_currency_selector{
			position: relative;
			margin-left: 37px;
			&::before{
				content: "";
				position: absolute;
				background-color: #ebebeb;
				width: 1px;
				height: 48px;
				left: -21px;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
	#header-top{
		.header-left{
			margin-right: 58px;
		}
		.megamenu{
			position: static;
			margin-right: 90px;
		}
		.header-right{
			.row > div{
				padding: 0;
				margin-left: 35px;
			}
			#cart_block{
				margin-right: 13px;
			}
		}
	}
}


/* promobar! */
.jms-row.promo-bar{
	margin-top: 1px;
	color: #fff;
	background-color: $active;
	padding: 8px 0;
	.container-fluid{
		max-width: 1250px;
		> .row{
			align-items: center;
		}
	}
	p{
		margin-bottom: 0;
	}
	.col{
		font-size: 16px;
		font-weight: 700;
		text-align: center;
		letter-spacing: 0.4px;
	}
	.btn{
		padding: 5px 20px;
		font-size: 16px;
		letter-spacing: 0.3px;
		color: #fff;
		border-color: #fff;
		background-color: transparent;
		min-width: 109px;
	}
	.right p{
		text-align: right;
	}
}

/* category 1! */
.category-1{
	padding: 112px 0 122px;
	background-color: $active;
	.addon-title h3{
		color: #fff;
	}
	.banner-content p{
		margin-bottom: 0;
		background-color: #fff;
		text-align: center;
		text-transform: uppercase;
		font-size: 19px;
		font-weight: 700;
		color: #000;
		padding: 15.5px 20px;
		line-height: 1;
	}
}

#footer{
	.block-content{
		ul{
			li{
				line-height: 30px;
			}
		}
	}
}