@charset "UTF-8";
@import url(product.css);
@import url(product-list.css);
@import url(contact.css);
@import url(cart.css);
@import url(checkout.css);
@import "_varians.scss";
@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT&display=swap');

.container-fluid{
	max-width: 1790px;
	padding: 0 15px;
}
.row{
	margin-left: -14px;
	margin-right: -14px;
}
.layout-column{
	padding-left: 14px;
	padding-right: 14px;
}
.addon-desc {
	text-align: center;
	font-size: 17px;
	color: #111;
	letter-spacing: 0.17px;
}
.form-control{
	color: #555;
	&::placeholder{
		color: #555;
	}
	&:focus{
		box-shadow: none;
		border-color: #e1e1e1;
	}
}
.btn:focus{
	box-shadow: none;
}
.btn.active{
	background-color: #000;
	color: #fff;
	border-color: #000;
}
.old-standard-tt{
	font-family: 'Old Standard TT', serif;
}
.fa{
	font-family: "Fontawesome" !important;
}
.border-bottom{
	border-bottom: 1px solid #ebebeb;
}
.hidden{
	display: none;
}
#cart_block .text-cart,
#jms_ajax_search .btn-search .text,
#_desktop_user_info .account .text{
	display: none;
}
a{
	transition: all .4s;
}


/* header! */
#header{
	.container-fluid{
		> .row{
			padding: 0;
		}
	}
}
#header-top{
	position: relative;
	.header-right .dropdown-menu{
		top: calc(100% + 21px);
		right: -13px;
	}
	.dropdown-menu.shoppingcart-box{
		min-width: 370px;
		max-width: 370px;
		background: #282828;
		color: #fff;
		padding: 29px 35px;
		.cart-product-image{
			max-width: max-content;
		}
		.cart_block_list li{
			position: relative;
			&:not(:last-child)::after{
				content: "";
				position: absolute;
				left: 0;
				bottom: -22px;
				width: 100%;
				height: 1px;
				background-color: rgba(255,255,255,0.1);
			}
		}
		.cart-prices-line .value {
			font-size: 20px;
			font-weight: 600;
		}
		.label{
			padding: 0;
			color: #9f9f9f;
		}
		.product-link{
			display: block;
			color: #fff;
			line-height: 1.65;
			margin-bottom: 7px;
		}
		.content_price{
			margin-bottom: 3px;
		}
		.line{
			.remove_link{
				margin-left: 29px;
			}
		}
		.price.new {
			font-size: 19px;
			font-weight: 700;
		}
		.checkout-btn{
			border-color: #fff;
			background: transparent;
			padding: 7px 20px;
			letter-spacing: 0.6px;
		}
	}
	#_desktop_user_info .user-info-content a{
		position: relative;
		&:hover{
			color: #fff;
			&::after{
				width: 100%;
			}
		}
		&::after{
			content: "";
			position: absolute;
			width: 0;
			height: 1px;
			background-color: #fff;
			left: 0;
			bottom: -2px;
			transition: all .4s;
		}
	}
	#hor-menu{
		.nav{
			> li > a{
				display: block;
				line-height: 72px;
			}
			li{
				&.sub-home .mod-content a{
					display: block;
					text-align: center;
					&:hover .text{
						color: #fff;
						&::after{
							width: 100%;
						}
					}
					.text{
						position: relative;
						&::after{
							content: "";
							position: absolute;
							width: 0;
							height: 1px;
							background-color: #fff;
							left: 0;
							bottom: 4px;
							transition: all .4s;
						}
					}
				}
				&.open > a{
					color: #fff;
					span{
						&::after{
							width: 100%;
						}
					}
				}
				> a{
					letter-spacing: 0.3px;
					&:hover span::after{
						width: 100%;
					}
					span{
						position: relative;
						&::after{
							content: "";
							position: absolute;
							width: 0;
							height: 1px;
							background-color: #fff;
							left: 0;
							bottom: -3px;
							transition: all .4s;
						}
					}
				}
			}
		}
		.item-fullwidth .dropdown-menu{
			padding: 40px 0;
		}
	}
}
.header-sticky.sticky{
	animation-duration: 0.4s;
	animation-name: fadeIn;
	animation-timing-function: ease;
}
.header-1{
	#header-topbar{
		.header-left{
			letter-spacing: 0.2px;
		}
		.header-center{
			letter-spacing: 0.15px;
		}
		.header-right{
			text-align: right;
			> div{
				display: inline-flex;
				position: relative;
				&:not(:first-child){
					margin-left: 37px;
					&::before{
						content: "";
						position: absolute;
						background-color: #ebebeb;
						width: 1px;
						height: 48px;
						left: -21px;
						top: 50%;
						transform: translateY(-50%);
					}
				}
			}
			.dropdown-menu{
				min-width: 73px;
				padding: 15px 10px;
				text-align: center;
				top: 12px !important;
				left: -20px !important;
				background: #282828;
				box-shadow: 0 0 10px rgba(0,0,0,0.35);
				ul li a{
					color: #9f9f9f;
					position: relative;
					&::after{
						content: "";
						position: absolute;
						width: 0;
						height: 1px;
						background-color: #fff;
						left: 0;
						bottom: -3px;
						transition: all .4s;
					}
					&:hover{
						color: #fff;
						&::after{
							width: 100%;
						}
					}
				}
			}
		}
		#_desktop_currency_selector{
			position: relative;
		}
	}
	#header-top{
		.header-left{
			margin-right: 59px;
		}
		.megamenu{
			position: static;
			margin-right: 77px;
		}
		.header-right{
			> .row > div{
				padding: 0;
				margin-left: 35px;
			}
			#cart_block{
				margin-right: 30px;
			}
		}
	}
}
.header-2{
	background-color: #fff;
	transition: all 400ms;
	-webkit-transition: all 400ms;
	-moz-transition: all 400ms;
	-ms-transition: all 400ms;
	-o-transition: all 400ms;
	.header-sticky.sticky{
		background: #fff !important;
	}
	#header-top.sticky #hor-menu .nav > li > a {
	    line-height: 72px;
	}
	.jms-megamenu > ul > li.sub-home{
		padding-left: 0;
	}
	#hor-menu .nav > li > a{
		color: #111;
	}
	#header-top{
		.megamenu{
			position: static;
		}
		#hor-menu .nav > li{
			&.open > a{
				color: #111;
			}
			> a{
				line-height: 102px;
			}
		}
	}
	.header-logo{
		text-align: center;
	}
	.header-right{
		.row{
			justify-content: flex-end;
			align-items: center;
		}
	}
	#cart_block{
		margin-right: 14px;
		padding-bottom: 5px;
		.cart-icon{
			display: flex;
			align-items: center;
		}
		.text-cart{
			display: block;
			font-size: 14px;
			color: #111;
			margin-right: 9px;
			letter-spacing: 0.3px;
			position: relative;
			top: 3px;
		}
		.ajax_cart_quantity{
			color: #fff;
			background-color: #111;
		}
	}
	#_desktop_user_info .account{
		i{
			display: none;
		}
		.text{
			display: block;
			font-size: 14px;
			color: #111;
		}
	}
	#jms_ajax_search .btn-search{
		display: flex;
		align-items: center;
		.text{
			display: block;
			font-size: 14px;
			color: #111;
		}
		i{
			font-size: 20px;
			margin-right: 7px;
		}
	}
}
#header .header-2 .header-right i{
	color: #111;
}
.home_2.page-index{
	.header-2{
		margin-top: 50px;
	}
}

/* alertbox */
.alertbox-fixed{
	background-color: #111;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}
.addon-alertbox{
	position: relative;
	.alert-info{
		position: relative;
		background-color: #111;
		color: #fff;
		border: 0;
		border-radius: 0;
		margin: 0;
		padding: 17.5px 0;
		line-height: 1;
		letter-spacing: 0.2px;
		p{
			margin-bottom: 0;
		}
		a{
			color: #fff;
			position: relative;
			margin-left: 25px;
			&::after{
				content: "";
				width: 100%;
				position: absolute;
				height: 1px;
				background-color: #fff;
				bottom: -1px;
				left: 0;
			}
		}
	}
	.close{
		opacity: 1;
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
	}
}

/* promobar! */
.jms-row.promo-bar{
	margin-top: 1px;
	color: #fff;
	background-color: $active;
	padding: 8px 0;
	.container-fluid{
		max-width: 1250px;
		> .row{
			align-items: center;
		}
	}
	p{
		margin-bottom: 0;
	}
	.col{
		font-size: 16px;
		font-weight: 700;
		text-align: center;
		letter-spacing: 0.4px;
	}
	.btn{
		padding: 5px 20px;
		font-size: 16px;
		letter-spacing: 0.3px;
		color: #fff;
		border-color: #fff;
		background-color: transparent;
		min-width: 109px;
	}
	.right p{
		text-align: right;
	}
}

/* slider */
.slider-home-1{
	.text-2{
		letter-spacing: 2px;
	}
	.text-3{
		letter-spacing: 0.2px;
	}
	.btn{
		padding: 9px 37px;
		border-color: #363636;
	}
}
.fraction-slider .prev{
	background: url("../img/icons/prev.png") center no-repeat;
}
.fraction-slider .next{
	background: url("../img/icons/next.png") center no-repeat;
}

/* category 1! */
.category-1{
	padding: 112px 0 122px;
	background-color: $active;
	.addon-title h3{
		color: #fff;
	}
	.banner-content p{
		margin-bottom: 0;
		background-color: #fff;
		text-align: center;
		text-transform: uppercase;
		font-size: 19px;
		font-weight: 700;
		color: #000;
		padding: 15.5px 20px;
		line-height: 1;
	}
}

/* instagram */
.instagram_block{
	a.instagram_elements {
	    display: block;
	    position: relative;
	    &:hover{
	    	&::after{
		    	opacity: 1;
		    }
		    .info-block{
		    	opacity: 1;
		    }
		}
	    &::after{
	    	content: "";
			display: block;
			position: absolute;
			z-index: 1;
			left: 0;
			top: 0;
			background-color: rgba(0, 0, 0, 0.65);
			height: 100%;
			width: 100%;
			opacity: 0;
			transition: opacity .2s;
	    }
	}
	.info-block {
		opacity: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 9;
		span{
			color: #fff;
			font-size: 20px;
			margin: 0 5px;
		}
	}
}

/* service */
.jms-row.service{
	padding: 43px 0;
	background-color: #111;
}
.feature-box{
	display: flex;
	align-items: center;
	justify-content: center;
	.image{
		display: inline-block;
		margin-right: 16px;
	}
	.include_content_s{
		display: inline-block;
		p{
			color: #9f9f9f;
			line-height: 1.7;
			letter-spacing: 0.1px;
			span{
				font-size: 16px;
				color: #fff;
			}
		}
	}
	p{
		margin-bottom: 0;
	}
}

/* social & payments */
.social-payment {
	padding: 35px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	.payments{
		margin-right: 7px;
	}
	.socials{
		position: relative;
		margin-right: 94px;
		&::after{
			content: "";
			position: absolute;
			right: -44px;
			top: 50%;
			transform: translateY(-50%);
			width: 1px;
			height: 37px;
			background-color: #b7b7b7;
		}
		a{
			width: 36px;
			height: 36px;
			border-radius: 50%;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			margin: 0 7px;
			i{
				color: #fff;
				font-size: 17px;
			}
			&.facebook{
				background-color: #3c5a99;
			}
			&.twitter{
				background-color: #309cea;
			}
			&.behance{
				background-color: #1769ff;
			}
			&.instagram{
				background-color: #c94836;
			}
			&.google{
				background-color: #c94836;
			}
		}
	}
}

/* email_subscription */
.email_subscription{
	.newsletter-desc {
		margin-bottom: 18px;
		line-height: 31px;
		letter-spacing: 0.15px;
		font-size: 14px;
	}
	.newsletter-input-group{
		input{
			border-width: 2px;
			width: 100%;
			margin-bottom: 18px;
			font-size: 13px;
		}
		button{
			width: 100%;
			padding-top: 6.5px;
			padding-bottom: 6.5px;
			font-size: 16px;
			font-weight: 600;
		}
	}
}

/* gifts */
.jms-row.gifts{
	.addon-title{
		margin-bottom: 17px;
	}
	.layout-column.title{
		margin-bottom: 29px;
	}
	.jms-banner{
		margin-bottom: 28px;
		position: relative;
		.banner-content{
			position: absolute;
			bottom: 50px;
			left: 0;
			background: #fff;
			padding: 11px 20px 5px;
			font-family: 'Old Standard TT', serif;
			text-align: center;
			min-width: 440px;
			p{
				margin-bottom: 0;
				font-size: 34px;
				color: #010101;
			}
		}
	}

}

/* blog */
.blog-type-1{
	background: #f8f8f8;
	padding: 112px 0 85px;
}
.blog-carousel{
	.post-title{
		text-align: left;
		letter-spacing: 0.1px;
		margin-top: 20px;
		a{
			font-size: 24px;
			color: #000;
			font-weight: 500;
		}
	}
	.post-created {
		position: absolute;
		top: 12px;
		background: #fff;
		left: 12px;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 3px 11px 7px 8px;
		.day{
			font-size: 28px;
			font-weight: 700;
			color: #000;
		}
		.month{
			font-size: 15px;
			color: #010101;
		}
	}
	.post-intro{
		p{
			line-height: 1.85;
			letter-spacing: -0.1px;
		}
	}
	.post-meta{
		text-align: left;
		li{
			margin: 0;
			margin-right: 5px;
			font-size: 13px;
			color: #888;
			font-style: italic;
			position: relative;
			&:not(:last-child)::after{
				content: ",";
				position: absolute;
				bottom: 0;
				right: -4px;
			}
		}
	}
	.post-intro {
		margin: 19px 0 18px;
	}
}

/* banner lookbook */
.banner-lookbook{
	padding: 119px 0;
	.addon-box{
		text-align: center;
		color: #f3f3f3;
		.text-1{
			font-family: 'Old Standard TT', serif;
			font-size: 20px;
			margin-bottom: 17px;
		}
		.text-2{
			font-weight: 600;
			font-size: 55px;
			margin-bottom: 50px;
		}
		.btn{
			color: #f3f3f3;
			border-color: #fff;
			padding: 9px 37px;
			&:hover{
				border-color: #111;
				background-color: #111;
			}
		}
		p{
			line-height: 1;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
}

/* newsletter */
.block-title{
	display: none;
}
.newsletter-type-1{
	background-color: #111;
	padding: 113px 0 109px;
	.block-title.type-1{
		display: block;
		color: #fff;
		font-size: 30px;
		letter-spacing: 1.4px;
		font-weight: 600;
		text-transform: uppercase;
		margin-bottom: 4px;
	}
	.title{
		margin-right: 50px;
	}
	.block-content{
		margin-left: auto;
	}
	.email_subscription{
		display: flex;
		align-items: center;
		.newsletter-desc{
			color: #9f9f9f;
			margin-bottom: 0;
		}
	}
	.newsletter-input-group{
		flex-wrap: nowrap;
		input{
			margin-bottom: 0;
			background: transparent;
			border-color: #464646;
			margin-right: 11px;
			min-width: 490px;
			height: 52px;
			color: #9f9f9f;
			&::placeholder{
				color: #9f9f9f;
			}
		}
		button{
			background: #fff;
			color: #111;
			border-color: #fff;
			padding-left: 51px;
			padding-right: 51px;
		}
	}
}

/* footer */
#footer{
	.block-content{
		ul{
			li{
				line-height: 30px;
			}
		}
	}
	.block-title{
		display: block;
		&.type-1{
			display: none;
		}
	}
}
#footer-copyright{
	line-height: 30px;
	text-transform: initial;
	letter-spacing: -0.3px;
	.quick-links{
		display: flex;
		justify-content: flex-end;
		flex-wrap: wrap;
		a{
			&:not(:first-child){
				margin-left: 35px;
			}
		}
	}
}
.footer-1{
	.layout-column.newsletter{
		min-width: 449px;
	}
}
.footer-2{
	.block-contact{
		.block-content{
			margin-top: 11px;
			border: 0;
			padding: 0;
			font-style: italic;
			line-height: 2;
			font-size: 14px;
			letter-spacing: -0.001px;
			.info-address{
				margin-bottom: 10px;
			}
			.section{
				&.phone, &.email{
					margin-bottom: 7px;
				}
			}
		}
	}
}


@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }