#contact #content-wrapper{
    padding: 0 14px;
}
#contact-wrapper.contact-layout-1 .contact-row {
	margin-top: 3.467rem;
}
#contact-wrapper h3 {
	margin-bottom: 1.933rem;
    text-align: left;
    letter-spacing: 0;
}
#contact-info .section {
	margin-bottom: 10px;
}
#contact-info .block-content {
    font-size: 14px;
    font-style: italic;
    letter-spacing: 0.1px;
    line-height: 1.7;
}
#contact-map .contact-box {
	width:100%;
}
#contact-form .bootstrap-filestyle .btn{
    padding: 0px 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
#contact-form .addon-title{
    margin-bottom: 2.333rem;
}
#contact-form .form-group{
    margin-bottom: 1.867rem;
}
#contact-form .form-group input,
#contact-form .form-group select{
    height: 46px;
    font-size: 13px;
}
#contact-form textarea.form-control {
    font-size: 13px;
    line-height: 1.8;
    padding-top: 10px;
}
#contact-form .form-footer {
    margin-top: 7px;
}
#contact-form .form-footer .send-message{
    min-width: 186px;
}
#contact #footer{
    margin-top: 8rem;
}
#contact #contact-wrapper .block-contact i{
    display: none;
}
.contact-layout-3 #contact-info{
    margin-bottom: 40px;
}