@import url(product.css);
@import url(product-list.css);
@import url(contact.css);
@import url(cart.css);
@import url(checkout.css);
@import url("https://fonts.googleapis.com/css?family=Old+Standard+TT&display=swap");
.container-fluid {
  max-width: 1790px;
  padding: 0 15px; }

.row {
  margin-left: -14px;
  margin-right: -14px; }

.layout-column {
  padding-left: 14px;
  padding-right: 14px; }

.addon-desc {
  text-align: center;
  font-size: 17px;
  color: #111;
  letter-spacing: 0.17px; }

.form-control {
  color: #555; }
  .form-control::-webkit-input-placeholder {
    color: #555; }
  .form-control:-ms-input-placeholder {
    color: #555; }
  .form-control::-ms-input-placeholder {
    color: #555; }
  .form-control::placeholder {
    color: #555; }
  .form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #e1e1e1; }

.btn:focus {
  -webkit-box-shadow: none;
  box-shadow: none; }

.btn.active {
  background-color: #000;
  color: #fff;
  border-color: #000; }

.old-standard-tt {
  font-family: 'Old Standard TT', serif; }

.fa {
  font-family: "Fontawesome" !important; }

.border-bottom {
  border-bottom: 1px solid #ebebeb; }

.hidden {
  display: none; }

.jms-search-input.type-2 {
  display: none; }

#cart_block .text-cart,
#jms_ajax_search .btn-search .text,
#_desktop_user_info .account .text {
  display: none; }

a {
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s; }

/* header! */
#header .container-fluid > .row {
  padding: 0; }

#header-top {
  position: relative; }
  #header-top .header-right .dropdown-menu {
    top: calc(100% + 21px);
    right: -13px; }
  #header-top .dropdown-menu.shoppingcart-box {
    min-width: 370px;
    max-width: 370px;
    background: #282828;
    color: #fff;
    padding: 29px 35px; }
    #header-top .dropdown-menu.shoppingcart-box .cart-product-image {
      max-width: -webkit-max-content;
      max-width: -moz-max-content;
      max-width: max-content; }
    #header-top .dropdown-menu.shoppingcart-box .cart_block_list li {
      position: relative; }
      #header-top .dropdown-menu.shoppingcart-box .cart_block_list li:not(:last-child)::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -22px;
        width: 100%;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.1); }
    #header-top .dropdown-menu.shoppingcart-box .cart-prices-line .value {
      font-size: 20px;
      font-weight: 600; }
    #header-top .dropdown-menu.shoppingcart-box .label {
      padding: 0;
      color: #9f9f9f; }
    #header-top .dropdown-menu.shoppingcart-box .product-link {
      display: block;
      color: #fff;
      line-height: 1.65;
      margin-bottom: 7px; }
    #header-top .dropdown-menu.shoppingcart-box .content_price {
      margin-bottom: 3px; }
    #header-top .dropdown-menu.shoppingcart-box .line .remove_link {
      margin-left: 29px; }
    #header-top .dropdown-menu.shoppingcart-box .price.new {
      font-size: 19px;
      font-weight: 700; }
    #header-top .dropdown-menu.shoppingcart-box .checkout-btn {
      border-color: #fff;
      background: transparent;
      padding: 7px 20px;
      letter-spacing: 0.6px; }
  #header-top #_desktop_user_info .user-info-content a {
    position: relative; }
    #header-top #_desktop_user_info .user-info-content a:hover {
      color: #fff; }
      #header-top #_desktop_user_info .user-info-content a:hover::after {
        width: 100%; }
    #header-top #_desktop_user_info .user-info-content a::after {
      content: "";
      position: absolute;
      width: 0;
      height: 1px;
      background-color: #fff;
      left: 0;
      bottom: -2px;
      -webkit-transition: all .4s;
      -o-transition: all .4s;
      transition: all .4s; }
  #header-top #hor-menu .nav > li > a {
    display: block;
    line-height: 72px; }
  #header-top #hor-menu .nav li.sub-home .mod-content a {
    display: block;
    text-align: center; }
    #header-top #hor-menu .nav li.sub-home .mod-content a:hover .text {
      color: #fff; }
      #header-top #hor-menu .nav li.sub-home .mod-content a:hover .text::after {
        width: 100%; }
    #header-top #hor-menu .nav li.sub-home .mod-content a .text {
      position: relative; }
      #header-top #hor-menu .nav li.sub-home .mod-content a .text::after {
        content: "";
        position: absolute;
        width: 0;
        height: 1px;
        background-color: #fff;
        left: 0;
        bottom: 4px;
        -webkit-transition: all .4s;
        -o-transition: all .4s;
        transition: all .4s; }
  #header-top #hor-menu .nav li.open > a {
    color: #fff; }
    #header-top #hor-menu .nav li.open > a span::after {
      width: 100%; }
  #header-top #hor-menu .nav li > a {
    letter-spacing: 0.3px; }
    #header-top #hor-menu .nav li > a:hover span::after {
      width: 100%; }
    #header-top #hor-menu .nav li > a span {
      position: relative; }
      #header-top #hor-menu .nav li > a span::after {
        content: "";
        position: absolute;
        width: 0;
        height: 1px;
        background-color: #fff;
        left: 0;
        bottom: -3px;
        -webkit-transition: all .4s;
        -o-transition: all .4s;
        transition: all .4s; }
  #header-top #hor-menu .item-fullwidth .dropdown-menu {
    padding: 40px 0; }

.header-sticky.sticky {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease; }

.header-1 #header-topbar .header-left {
  letter-spacing: 0.2px; }
  .header-1 #header-topbar .header-left .text-2 {
    display: none; }

.header-1 #header-topbar .header-center {
  letter-spacing: 0.15px; }

.header-1 #header-topbar .header-right {
  text-align: right; }
  .header-1 #header-topbar .header-right > div {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative; }
    .header-1 #header-topbar .header-right > div:not(:first-child) {
      margin-left: 37px; }
      .header-1 #header-topbar .header-right > div:not(:first-child)::before {
        content: "";
        position: absolute;
        background-color: #ebebeb;
        width: 1px;
        height: 48px;
        left: -21px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
  .header-1 #header-topbar .header-right .dropdown-menu {
    min-width: 73px;
    padding: 15px 10px;
    text-align: center;
    top: 12px !important;
    left: -20px !important;
    background: #282828;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35); }
    .header-1 #header-topbar .header-right .dropdown-menu ul li a {
      color: #9f9f9f;
      position: relative; }
      .header-1 #header-topbar .header-right .dropdown-menu ul li a::after {
        content: "";
        position: absolute;
        width: 0;
        height: 1px;
        background-color: #fff;
        left: 0;
        bottom: -3px;
        -webkit-transition: all .4s;
        -o-transition: all .4s;
        transition: all .4s; }
      .header-1 #header-topbar .header-right .dropdown-menu ul li a:hover {
        color: #fff; }
        .header-1 #header-topbar .header-right .dropdown-menu ul li a:hover::after {
          width: 100%; }

.header-1 #header-topbar #_desktop_currency_selector {
  position: relative; }

.header-1 #header-top .header-left {
  margin-right: 59px; }

.header-1 #header-top .megamenu {
  position: static;
  margin-right: 77px; }

.header-1 #header-top .header-right > .row > div {
  padding: 0;
  margin-left: 35px; }

.header-1 #header-top .header-right #cart_block {
  margin-right: 30px; }

.header-2 {
  background-color: #fff;
  transition: all 400ms;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms; }
  .header-2 .header-sticky.sticky {
    background: #fff !important; }
  .header-2 #header-top.sticky #hor-menu .nav > li > a {
    line-height: 72px; }
  .header-2 .jms-megamenu > ul > li.sub-home {
    padding-left: 0; }
  .header-2 #hor-menu .nav > li > a {
    color: #111; }
  .header-2 #header-top .megamenu {
    position: static; }
  .header-2 #header-top #hor-menu .nav > li.open > a {
    color: #111; }
  .header-2 #header-top #hor-menu .nav > li > a {
    line-height: 102px; }
  .header-2 .header-logo {
    text-align: center; }
  .header-2 .header-right .row {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header-2 #cart_block {
    margin-right: 14px;
    padding-bottom: 5px; }
    .header-2 #cart_block .cart-icon {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .header-2 #cart_block .text-cart {
      display: block;
      font-size: 14px;
      color: #111;
      margin-right: 9px;
      letter-spacing: 0.3px;
      position: relative;
      top: 3px; }
    .header-2 #cart_block .ajax_cart_quantity {
      color: #fff;
      background-color: #111; }
  .header-2 #_desktop_user_info .account i {
    display: none; }
  .header-2 #_desktop_user_info .account .text {
    display: block;
    font-size: 14px;
    color: #111; }
  .header-2 #jms_ajax_search .btn-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .header-2 #jms_ajax_search .btn-search .text {
      display: block;
      font-size: 14px;
      color: #111; }
    .header-2 #jms_ajax_search .btn-search i {
      font-size: 20px;
      margin-right: 7px; }

.header-3 #header-topbar .header-left {
  letter-spacing: 0.2px; }
  .header-3 #header-topbar .header-left .text-1 {
    display: none; }

.header-3 #header-topbar .header-center {
  letter-spacing: 0.15px; }

.header-3 #header-topbar .header-right {
  text-align: right; }
  .header-3 #header-topbar .header-right > div {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative; }
    .header-3 #header-topbar .header-right > div:not(:first-child) {
      margin-left: 37px; }
      .header-3 #header-topbar .header-right > div:not(:first-child)::before {
        content: "";
        position: absolute;
        background-color: #ebebeb;
        width: 1px;
        height: 48px;
        left: -21px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
  .header-3 #header-topbar .header-right .dropdown-menu {
    min-width: 73px;
    padding: 15px 10px;
    text-align: center;
    top: 12px !important;
    left: -20px !important;
    background: #282828;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35); }
    .header-3 #header-topbar .header-right .dropdown-menu ul li a {
      color: #9f9f9f;
      position: relative; }
      .header-3 #header-topbar .header-right .dropdown-menu ul li a::after {
        content: "";
        position: absolute;
        width: 0;
        height: 1px;
        background-color: #fff;
        left: 0;
        bottom: -3px;
        -webkit-transition: all .4s;
        -o-transition: all .4s;
        transition: all .4s; }
      .header-3 #header-topbar .header-right .dropdown-menu ul li a:hover {
        color: #fff; }
        .header-3 #header-topbar .header-right .dropdown-menu ul li a:hover::after {
          width: 100%; }

.header-3 #header-topbar #_desktop_currency_selector {
  position: relative; }

.header-3 .jms-megamenu > ul > li.sub-home {
  padding-left: 0; }

.header-3 .header-right > .row {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header-3 .header-right #search-form {
  margin-right: 15px; }
  .header-3 .header-right #search-form .jms-search-input {
    width: 300px; }
    .header-3 .header-right #search-form .jms-search-input.type-1 {
      display: none; }
    .header-3 .header-right #search-form .jms-search-input.type-2 {
      display: block;
      border: 1px solid #868686;
      background: transparent;
      color: #9f9f9f;
      height: 42px;
      padding: 13px 20px;
      background: url("../img/icons/search.png") 261px no-repeat; }
      .header-3 .header-right #search-form .jms-search-input.type-2::-webkit-input-placeholder {
        color: #9f9f9f; }
      .header-3 .header-right #search-form .jms-search-input.type-2:-ms-input-placeholder {
        color: #9f9f9f; }
      .header-3 .header-right #search-form .jms-search-input.type-2::-ms-input-placeholder {
        color: #9f9f9f; }
      .header-3 .header-right #search-form .jms-search-input.type-2::placeholder {
        color: #9f9f9f; }
  .header-3 .header-right #search-form .button-search {
    display: none; }

.header-3 .header-right #cart_block {
  margin-right: 14px; }

.header-3 #header-top .megamenu {
  position: static; }

#header .header-2 .header-right i {
  color: #111; }

/* alertbox */
.alertbox-fixed {
  background-color: #111;
  position: fixed;
  top: 0;
  left: 0;
  right: 0; }

.addon-alertbox {
  position: relative; }
  .addon-alertbox .alert-info {
    position: relative;
    background-color: #111;
    color: #fff;
    border: 0;
    border-radius: 0;
    margin: 0;
    padding: 17.5px 0;
    line-height: 1;
    letter-spacing: 0.2px; }
    .addon-alertbox .alert-info p {
      margin-bottom: 0; }
    .addon-alertbox .alert-info a {
      color: #fff;
      position: relative;
      margin-left: 25px; }
      .addon-alertbox .alert-info a::after {
        content: "";
        width: 100%;
        position: absolute;
        height: 1px;
        background-color: #fff;
        bottom: -1px;
        left: 0; }
  .addon-alertbox .close {
    opacity: 1;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }

/* promobar! */
.jms-row.promo-bar {
  margin-top: 1px;
  color: #fff;
  background-color: #ff794f;
  padding: 8px 0; }
  .jms-row.promo-bar .container-fluid {
    max-width: 1250px; }
    .jms-row.promo-bar .container-fluid > .row {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
  .jms-row.promo-bar p {
    margin-bottom: 0; }
  .jms-row.promo-bar .col {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.4px; }
  .jms-row.promo-bar .btn {
    padding: 5px 20px;
    font-size: 16px;
    letter-spacing: 0.3px;
    color: #fff;
    border-color: #fff;
    background-color: transparent;
    min-width: 109px; }
  .jms-row.promo-bar .right p {
    text-align: right; }

/* slider */
.slider-home-1 .text-2 {
  letter-spacing: 2px; }

.slider-home-1 .text-3 {
  letter-spacing: 0.2px; }

.slider-home-1 .btn {
  padding: 9px 37px;
  border-color: #363636; }

.fraction-slider .prev {
  background: url("../img/icons/prev.png") center no-repeat; }

.fraction-slider .next {
  background: url("../img/icons/next.png") center no-repeat; }

/* category 1! */
.category-1 {
  padding: 112px 0 122px;
  background-color: #ff794f; }
  .category-1 .addon-title h3 {
    color: #fff; }
  .category-1 .banner-content p {
    margin-bottom: 0;
    background-color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 19px;
    font-weight: 700;
    color: #000;
    padding: 15.5px 20px;
    line-height: 1; }

/* instagram */
.instagram_block a.instagram_elements {
  display: block;
  position: relative; }
  .instagram_block a.instagram_elements:hover::after {
    opacity: 1; }
  .instagram_block a.instagram_elements:hover .info-block {
    opacity: 1; }
  .instagram_block a.instagram_elements::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.65);
    height: 100%;
    width: 100%;
    opacity: 0;
    -webkit-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s; }

.instagram_block .info-block {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 9; }
  .instagram_block .info-block span {
    color: #fff;
    font-size: 20px;
    margin: 0 5px; }

/* service */
.jms-row.service {
  padding: 43px 0;
  background-color: #111; }

.feature-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .feature-box .image {
    display: inline-block;
    margin-right: 16px; }
  .feature-box .include_content_s {
    display: inline-block; }
    .feature-box .include_content_s p {
      color: #9f9f9f;
      line-height: 1.7;
      letter-spacing: 0.1px; }
      .feature-box .include_content_s p span {
        font-size: 16px;
        color: #fff; }
  .feature-box p {
    margin-bottom: 0; }

/* social & payments */
.social-payment {
  padding: 35px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .social-payment .payments {
    margin-right: 7px; }
  .social-payment .socials {
    position: relative;
    margin-right: 94px; }
    .social-payment .socials::after {
      content: "";
      position: absolute;
      right: -44px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 1px;
      height: 37px;
      background-color: #b7b7b7; }
    .social-payment .socials a {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin: 0 7px; }
      .social-payment .socials a i {
        color: #fff;
        font-size: 17px; }
      .social-payment .socials a.facebook {
        background-color: #3c5a99; }
      .social-payment .socials a.twitter {
        background-color: #309cea; }
      .social-payment .socials a.behance {
        background-color: #1769ff; }
      .social-payment .socials a.instagram {
        background-color: #c94836; }
      .social-payment .socials a.google {
        background-color: #c94836; }

/* email_subscription */
.email_subscription .newsletter-desc {
  margin-bottom: 18px;
  line-height: 31px;
  letter-spacing: 0.15px;
  font-size: 14px; }

.email_subscription .newsletter-input-group input {
  border-width: 2px;
  width: 100%;
  margin-bottom: 18px;
  font-size: 13px; }

.email_subscription .newsletter-input-group button {
  width: 100%;
  padding-top: 6.5px;
  padding-bottom: 6.5px;
  font-size: 16px;
  font-weight: 600; }

/* gifts */
.jms-row.gifts .addon-title {
  margin-bottom: 17px; }

.jms-row.gifts .layout-column.title {
  margin-bottom: 29px; }

.jms-row.gifts .jms-banner {
  margin-bottom: 28px;
  position: relative; }
  .jms-row.gifts .jms-banner .banner-content {
    position: absolute;
    bottom: 50px;
    left: 0;
    background: #fff;
    padding: 11px 20px 5px;
    font-family: 'Old Standard TT', serif;
    text-align: center;
    min-width: 440px; }
    .jms-row.gifts .jms-banner .banner-content p {
      margin-bottom: 0;
      font-size: 34px;
      color: #010101; }

/* blog */
.blog-type-1 {
  background: #f8f8f8;
  padding: 112px 0 85px; }

.blog-carousel .post-title {
  text-align: left;
  letter-spacing: 0.1px;
  margin-top: 20px; }
  .blog-carousel .post-title a {
    font-size: 24px;
    color: #000;
    font-weight: 500; }

.blog-carousel .post-created {
  position: absolute;
  top: 12px;
  background: #fff;
  left: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 3px 11px 7px 8px; }
  .blog-carousel .post-created .day {
    font-size: 28px;
    font-weight: 700;
    color: #000; }
  .blog-carousel .post-created .month {
    font-size: 15px;
    color: #010101; }

.blog-carousel .post-intro p {
  line-height: 1.85;
  letter-spacing: -0.1px; }

.blog-carousel .post-meta {
  text-align: left; }
  .blog-carousel .post-meta li {
    margin: 0;
    margin-right: 5px;
    font-size: 13px;
    color: #888;
    font-style: italic;
    position: relative; }
    .blog-carousel .post-meta li:not(:last-child)::after {
      content: ",";
      position: absolute;
      bottom: 0;
      right: -4px; }

.blog-carousel .post-intro {
  margin: 19px 0 18px; }

/* banner lookbook */
.banner-lookbook {
  padding: 119px 0; }
  .banner-lookbook .addon-box {
    text-align: center;
    color: #f3f3f3; }
    .banner-lookbook .addon-box .text-1 {
      font-family: 'Old Standard TT', serif;
      font-size: 20px;
      margin-bottom: 17px; }
    .banner-lookbook .addon-box .text-2 {
      font-weight: 600;
      font-size: 55px;
      margin-bottom: 50px; }
    .banner-lookbook .addon-box .btn {
      color: #f3f3f3;
      border-color: #fff;
      padding: 9px 37px; }
      .banner-lookbook .addon-box .btn:hover {
        border-color: #111;
        background-color: #111; }
    .banner-lookbook .addon-box p {
      line-height: 1; }
      .banner-lookbook .addon-box p:last-child {
        margin-bottom: 0; }

/* newsletter */
.block-title {
  display: none; }

.newsletter-type-1 {
  background-color: #111;
  padding: 113px 0 109px; }
  .newsletter-type-1 .block-title.type-1 {
    display: block;
    color: #fff;
    font-size: 30px;
    letter-spacing: 1.4px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 4px; }
  .newsletter-type-1 .title {
    margin-right: 50px; }
  .newsletter-type-1 .block-content {
    margin-left: auto; }
  .newsletter-type-1 .email_subscription {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .newsletter-type-1 .email_subscription .newsletter-desc {
      color: #9f9f9f;
      margin-bottom: 0; }
  .newsletter-type-1 .newsletter-input-group {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
    .newsletter-type-1 .newsletter-input-group input {
      margin-bottom: 0;
      background: transparent;
      border-color: #464646;
      margin-right: 11px;
      min-width: 490px;
      height: 52px;
      color: #9f9f9f; }
      .newsletter-type-1 .newsletter-input-group input::-webkit-input-placeholder {
        color: #9f9f9f; }
      .newsletter-type-1 .newsletter-input-group input:-ms-input-placeholder {
        color: #9f9f9f; }
      .newsletter-type-1 .newsletter-input-group input::-ms-input-placeholder {
        color: #9f9f9f; }
      .newsletter-type-1 .newsletter-input-group input::placeholder {
        color: #9f9f9f; }
    .newsletter-type-1 .newsletter-input-group button {
      background: #fff;
      color: #111;
      border-color: #fff;
      padding-left: 51px;
      padding-right: 51px; }

/* brand */
.brand-carousel {
  padding: 50px 0; }
  .brand-carousel.owl-carousel img {
    width: auto; }
  .brand-carousel .brand-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }

/* home 2 */
.home_2.page-index .header-2 {
  margin-top: 50px; }

/* home 3 */
.home_3 .addon-title h3 {
  letter-spacing: 1.3px; }

.home_3 .brand .container {
  max-width: 1265px; }

.home_3 .brand .brand-carousel {
  padding: 116px 0; }

.home_3 .banner-1 .banner-content {
  margin-top: 19px; }
  .home_3 .banner-1 .banner-content p {
    margin-bottom: 0; }
  .home_3 .banner-1 .banner-content .text-1 {
    font-size: 24px;
    font-weight: 600;
    color: #000;
    margin-bottom: 12px;
    letter-spacing: 0.5px; }
  .home_3 .banner-1 .banner-content .text-2 {
    font-size: 14px;
    margin-bottom: 27px;
    letter-spacing: 0.14px; }
  .home_3 .banner-1 .banner-content .btn {
    border: 1px solid #111;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.3px;
    padding: 6px 15px;
    min-width: 160px; }

.home_3 .banner-bg {
  padding: 67px 0 75px;
  text-align: center; }
  .home_3 .banner-bg .text-1 {
    font-size: 42px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.3px;
    margin-bottom: 5px; }
  .home_3 .banner-bg .text-2 {
    position: relative;
    font-size: 42px;
    font-weight: 700;
    color: #ff794f;
    font-style: italic;
    display: inline-block;
    letter-spacing: 0.8px;
    padding: 6px 23px 2px;
    margin-bottom: 14px;
    z-index: 1; }
    .home_3 .banner-bg .text-2::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      -webkit-transform: skewX(-21deg);
      -ms-transform: skewX(-21deg);
      transform: skewX(-21deg);
      background-color: #fff;
      z-index: -1; }
  .home_3 .banner-bg .text-3 {
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.3px;
    margin-bottom: 0; }

.home_3 .jms-row.categories .layout-column.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .home_3 .jms-row.categories .layout-column.content .addon-box {
    width: 20%; }
    .home_3 .jms-row.categories .layout-column.content .addon-box:not(:nth-child(5)) {
      margin-right: 10px; }
  .home_3 .jms-row.categories .layout-column.content .banner-content {
    margin-top: 13px; }
  .home_3 .jms-row.categories .layout-column.content p {
    font-size: 19px;
    font-weight: 700;
    color: #000;
    margin-bottom: 0;
    letter-spacing: 0.2px; }

/* footer */
#footer .block-content ul li {
  line-height: 30px; }

#footer .block-title {
  display: block; }
  #footer .block-title.type-1 {
    display: none; }

#footer-copyright {
  line-height: 30px;
  text-transform: initial;
  letter-spacing: -0.3px; }
  #footer-copyright .quick-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    #footer-copyright .quick-links a:not(:first-child) {
      margin-left: 35px; }

.footer-1 .layout-column.newsletter {
  min-width: 449px; }

.footer-2 .block-contact .block-content {
  margin-top: 11px;
  border: 0;
  padding: 0;
  font-style: italic;
  line-height: 2;
  font-size: 14px;
  letter-spacing: -0.001px; }
  .footer-2 .block-contact .block-content .info-address {
    margin-bottom: 10px; }
  .footer-2 .block-contact .block-content .section.phone, .footer-2 .block-contact .block-content .section.email {
    margin-bottom: 7px; }

.footer-3#footer .social-links li {
  display: block;
  margin: 0; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
