.js-product-miniature .category-title {
	text-align: center;
}
.js-product-miniature .category-title h3 {
	font-size: 36px;
	color: #17171f;
	letter-spacing: 1.5px;
}
.block-categories ul {
	padding:0px;
	list-style:none;
}
.block-categories ul li {
		line-height: 35px;
		position: relative;
}
.block-categories ul li .navbar-toggler {
		display: inline-flex;
    cursor: pointer;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99;
}
.block-categories .sub-list {
	padding-left:15px;
}
#search_filters .filter-box {
	margin-bottom: 12px;
	border-bottom: 1px solid #e5e5e5;
}
#search_filters .facet {
	margin-bottom: 36px;
	margin-right: 0px;
}
#search_filters .facet.Price{
	margin-bottom: 52px;
}
#search_filters .facet.color {
	margin-bottom: 0;
	border-bottom: 0;
}
#search_filters .facet.color .flex-box{
	margin-bottom: 7px;
}
#search_filters .btn-default.js-search-filters-clear-all {
	display: flex;
	align-items: center;
	background: #fff;
}
#search_filters .btn-default.js-search-filters-clear-all:hover{
	background: #000;
}
#search_filters .btn-default.js-search-filters-clear-all i{
	font-size: 15px;
	margin-left: -3px;
	margin-right: 5px;
}
#search_filters .facet.color .facet-title.collapsed + .flex-box{
	margin-bottom: 0;
}
.title-block h3,
#search_filters .facet-title {
	font-size: 18px;
  	color: #000;
  	letter-spacing: 0;
	cursor: pointer;
	margin-bottom: 15px;
	text-transform: uppercase;
	font-weight: 600;
}
#_desktop_search_filters_clear_all {
	margin-bottom: 42px;
}
.facet.filter-by {
	margin-top: 40px;
}
#search_filters .facet .facet-title.collapsed > i,
.block-categories .title-block h3.collapsed i{
	transform: unset;
}
#search_filters .facet .title {
	position:relative;
}
#search_filters .facet .navbar-toggler {
	position: absolute;
	top:0px;
	right:0px;
	display: none;
}
#search_filters .facet .title .navbar-toggler .closing,
#search_filters .facet .title.collapsed .navbar-toggler .opening {
	display:none;
}

#search_filters .facet .title.collapsed .navbar-toggler .closing {
	display:block;
}
#search_filters .facet li {
	position: relative;
	line-height: 30px;
}
#search_filters .facet.size ul li {
	float: left;
	width: 50%;
}

.filters-panel .view-mode > a > span {
	font-size: 18px;
}
.filters-panel .view-mode > a > span.fa-list-ul {
	font-size:19px;
}
.filters-panel .text {
	color: #111;
	font-size: 13px;
	font-weight: 400;
	margin-right: 10px;
}
.filters-panel .right {
	text-align:right;
}
.filters-panel .product-sort .dropdown-menu {
	border-radius:0;
}
.filter-bottom {
  border-top: 1px solid #e1e1e1;
  clear: both;
  float: left;
  padding-top: 10px;
  width: 100%;
}
.filter-bottom ul.pagination {
  margin: 0;
}

.filters-panel.bottom {
  border-bottom: medium none;
  border-top: 1px solid #e1e1e1;
  padding-top: 20px;
  float:left;
  width:100%;
}
.facet ul {
    padding: 0px;
    margin-bottom: 0;
}
.facet ul li {
    list-style: none;
}
#search_filters .custom-checkbox {
	margin-right: 12px;
	display: inline-block;
	width: 11px;
	height: 11px;
	position: relative;
	top: 10px;
	display: none;
}
#search_filters .custom-checkbox > input{
	opacity: 0;
}
#search_filters .facet.color .custom-checkbox {
	margin-right: 10px;
	margin-bottom: 10px;
}
/*customs checkbox*/
#category .facet-label .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 11px;
	width: 11px;
	border: 1px solid #b7b7b7;
}
#category .facet-label input:checked ~ .checkmark {
  border-color: #141414;
}
#category .facet-label .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
#category .facet-label input:checked ~ .checkmark:after {
  display: block;
}
#category .facet-label .checkmark::after {
	content: "\f17b";
	font-family: LineAwesome;
	font-size: 6px;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	left: 50%;
}
#category #footer{
	margin-top: 8rem;
}
#category .block-categories{
	display: none;
}
/**/
.facet.color ul li a {
	display: none;
}
.facet.color ul{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 0;
}
#search_filters .facet.Color {
	margin-bottom: 33px;
}
#search_filters .facet.Color li {
	line-height: 31px;
}
#category .facet .facet-label {
	margin-bottom: 0;
	display: flex;
}
#category .facet .facet-label .search-link{
	width: 100%;
	font-size: 14px;
	letter-spacing: 0.2px;
}
#category .facet.Categories ul li a .magnitude,
#category .facet.Size ul li a .magnitude {
	display: none;
}
#category .facet.size ul li{
	border-bottom: 0;
}
#category .facet.Color ul li .custom-checkbox input,
#category .facet.Color ul li .custom-checkbox .checkmark {
    display: none;
}
#category .facet.Color ul li .custom-checkbox .color {
	border-radius: 50%;
	display: block;
	height: 12px;
	width: 12px;
	cursor: pointer;
	position: relative;
}
#category .facet.Color ul li .custom-checkbox input:checked ~ span {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 0;
}
#category .facet.Color ul li .custom-checkbox input:checked ~ .color::after {
	content: "\f17b";
	font-family: LineAwesome;
	font-size: 10px;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	left: 50%;
}
#category .facet >.flex-box {
	width: 100%;
}
#category .facet >.flex-box ul {
	width:100%;
}
#category .facet > .flex-box ul::after {
	content: "";
	display: table;
	clear: both;
}
#category .color-style .custom-checkbox .magnitude {
	margin-left:5px;
	font-size: 14px;
}
#category .facet .color-style .facet-label {
	width:100%;
	display: flex;
}
#products-top {
  margin-bottom: 40px;
}
#products-top .pagination {
	margin: 0 29px 0 0;
	padding: 0;
	border: 0;
	width: auto;
	display: inline-block;
}
#products-top .pagination .left-pagination{
	width: 100%;
	max-width: 100%;
	display: inline-block;
	font-size: 13px;
	letter-spacing: 0.1px;
}
#products-top .pagination .right-pagination{
	display: none;
}
#active-filter {
  margin-bottom:30px;
}
#js-active-search-filters {
    align-items: center;
    background: #f3f4f7 none repeat scroll 0 0;
    display: flex;
    margin-top: 50px;
    padding: 15px;
}
#js-active-search-filters.hide {
  display:none;
}
#js-active-search-filters .active-filter-title {
    margin: 0 15px 0 0;
    padding: 0;
}
#js-active-search-filters > ul {
    align-items: center;
    display: flex;
    margin-bottom: 0;
}
#js-active-search-filters > ul li {
    background: #fff none repeat scroll 0 0;
    display: inline-block;
    line-height: 32px;
    margin-right: 20px;
    padding: 0 10px;
    vertical-align: middle;
}
.filter-block .js-search-link i {
    font-size: 15px;
    line-height: 33px;
    margin-left: 5px;
}
.view-mode i {
    font-size:39px;
    opacity: 0.7;
}
.view-mode .active i {
    opacity: 1;
}
.inlude_sort_by {
    display: inline-flex;
    align-items: center;
}
.products-sort-order .select-title {
	display: flex;
	align-items: center;
	border: 2px solid #ebebeb;
	background: url("../img/icons/down-2.png") no-repeat 107px;
	font-size: 13px;
	padding: 4.5px 42px 4.5px 23px;
	cursor: pointer;
}
.products-sort-order .select-title span {
    cursor: pointer;
    display: block;
    line-height: 31px;
    overflow: hidden;
    white-space: nowrap;
    color: #000;
}
.products-sort-order .dropdown-menu {
    left: auto;
    min-width: 180px;
    padding: 15px 17px;
    position: absolute;
    right: -13px;
    background: #fff;
    top: calc(100% + 10px);
}
.products-sort-order .dropdown-menu a {
    display: block;
    line-height: 30px;
    color: #555;
    padding: 0 5px;
}
.products-sort-order .dropdown-menu a:hover,
.products-sort-order .dropdown-menu a.current {
    background: #f2f2f2;
}
.products.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}
.products-grid .js-product-miniature {
		float: left;
		margin-left: 0;
		margin-right: 30px;
		padding: 0;
		width: calc((100% - 60px) / 3);
		margin-bottom: 45px;
}
.products-grid.grid-1 .js-product-miniature {
		width: 100%;
		margin-right: 0px;
}
.products-grid.grid-2 .js-product-miniature {
    width: calc((100% - 30px)/2);
    margin-right: 30px !important;
}
.products-grid.grid-3 .js-product-miniature {
    width: calc((100% - 60px)/3);
    margin-right: 30px !important;
}
.products-grid.grid-4 .js-product-miniature {
    width: calc((100% - 90px)/4);
    margin-right: 30px!important;
}
.products-grid.grid-5 .js-product-miniature {
		width: calc((100% - 120px)/5);
		margin-right: 30px !important;
}
.products-grid.grid-6 .js-product-miniature {
		width: calc((100% - 150px)/6);
    margin-right: 30px !important;
}
.products-grid.grid-2 .js-product-miniature:nth-child(2n),
.products-grid.grid-3 .js-product-miniature:nth-child(3n),
.products-grid.grid-4 .js-product-miniature:nth-child(4n),
.products-grid.grid-5 .js-product-miniature:nth-child(5n),
.products-grid.grid-6 .js-product-miniature:nth-child(6n) {
    margin-right: 0 !important;
}
.products-grid.grid-1-2-1-2 .js-product-miniature:nth-child(3n+1) {
	width:100%;
	padding:0px 25%;
	margin-right: 0 !important;
}
.products-grid.grid-1-2-1-2 .js-product-miniature:nth-child(3n+2),
.products-grid.grid-1-2-1-2 .js-product-miniature:nth-child(3n+3) {
	width: calc((100% - 30px)/2);
}
.products-grid.grid-1-2-1-2 .js-product-miniature:nth-child(3n+3) {
	margin-right: 0 !important;
}

.products-grid.grid-1-3-1-3 .js-product-miniature:nth-child(4n+1) {
	width:100%;
	padding:0px 25%;
	margin-right: 0 !important;
}
.products-grid.grid-1-3-1-3 .js-product-miniature:nth-child(4n+2),
.products-grid.grid-1-3-1-3 .js-product-miniature:nth-child(4n+3),
.products-grid.grid-1-3-1-3 .js-product-miniature:nth-child(4n+4) {
	width: calc((100% - 60px)/3);
}
.products-grid.grid-1-3-1-3 .js-product-miniature:nth-child(4n+4) {
	margin-right: 0 !important;
}
.products-grid.grid-2-1-2-1 .js-product-miniature:nth-child(3n+3) {
	width:100%;
	padding:0px 25%;
	margin-right: 0 !important;
}
.products-grid.grid-2-1-2-1 .js-product-miniature:nth-child(3n+1),
.products-grid.grid-2-1-2-1 .js-product-miniature:nth-child(3n+2) {
	width: calc((100% - 30px)/2);
}
.products-grid.grid-2-1-2-1 .js-product-miniature:nth-child(3n+2) {
	margin-right: 0 !important;
}
.products-grid.grid-3-1-3-1 .js-product-miniature:nth-child(4n+4) {
	width:100%;
	padding:0px 25%;
	margin-right: 0 !important;
}
.products-grid.grid-3-1-3-1 .js-product-miniature:nth-child(4n+1),
.products-grid.grid-3-1-3-1 .js-product-miniature:nth-child(4n+2),
.products-grid.grid-3-1-3-1 .js-product-miniature:nth-child(4n+3) {
	width: calc((100% - 60px)/3);
}
.products-grid.grid-3-1-3-1 .js-product-miniature:nth-child(4n+3) {
	margin-right: 0 !important;
}

.js-product-miniature .preview img {
	width: 100%;
}
.pagination {
    margin: 0;
    padding-top: 30px;
	padding-right:0px;
    border-top: 1px solid #ebebeb;
    justify-content: center;
}
.pagination .left-pagination{
	display: none;
}
.pagination ul {
	list-style: none;
	display: flex;
	align-items: center;
	margin-bottom: 0;
}
.pagination li {
	display: inline-flex;
	float: none;
	margin: 0 3.5px;
}
.pagination li.current a{
	color: #fff;
	background-color: #ff794f;
}
.pagination li a.next{
	background: url("../img/icons/next-2.png") center no-repeat;
}
.pagination li a.previous{
	background: url("../img/icons/prev-2.png") center no-repeat;
}
.pagination li a.next i,
.pagination li a.previous i{
	display: none;
}
.pagination .js-search-link {
	font-size: 20px;
	color: #010101;
	font-weight: 700;
	width: 38px;
	height: 38px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
/***** PRODUCT BOX *****/
.js-product-miniature .product-info {
	margin-top:10px;
}
.js-product-miniature .content_price{
	margin-top: 8px;
	letter-spacing: 0.3px;
}
.js-product-miniature .product-title a{
	text-transform: initial;
	letter-spacing: 0.33px;
}
.js-product-miniature .product-short-desc {
		display:none;
}
.js-product-miniature .category-name {
		font-size: 90%;
		margin-bottom:5px;
}
.js-product-miniature .product-preview {
		position:relative;
}
.js-product-miniature .product-preview img {
		width:100%;
}
.js-product-miniature .product-preview .product-image{
	position: relative;
	display: block;
}
.js-product-miniature .product-preview .product-image::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.4);
	opacity: 0;
	transition: all 400ms;
	-webkit-transition: all 400ms;
	-moz-transition: all 400ms;
	-ms-transition: all 400ms;
	-o-transition: all 400ms;
}
.js-product-miniature:hover .product-preview .product-image::before{
	opacity: 1;
}

/***** Product Box *****/
.productbox-1 .product-title{
	text-align: center;
}
.productbox-1 .product-action{
	justify-content: center;
}
.productbox-1 .product-preview{
	overflow: hidden;
}
.productbox-1 .product-info {
	position: relative;
	margin-top: 22px;
}
.productbox-1 .product-info .variant-links{
	display: none;
}
.productbox-1 .product-info .product-buttons{
	display: none;
}
.productbox-1 .product-action {
	align-items: center;
	display: flex;
}
.productbox-1 .variant-links {
	opacity: 0;
	visibility: hidden;
	margin: 0;
	display: inline-block;
	line-height: 1;
	position: absolute;
	top: 30px;
	right: 26px;
	transition: all 400ms;
	-webkit-transition: all 400ms;
	-moz-transition: all 400ms;
	-ms-transition: all 400ms;
	-o-transition: all 400ms;
}
.productbox-1:hover .variant-links{
	opacity: 1;
	visibility: visible;
}
.productbox-1.js-product-miniature .product-preview .product-image::before{
	display: none;
}
.productbox-1.js-product-miniature .content_price{
	margin-top: 0;
}
.productbox-1.js-product-miniature .addToWishlist{
	position: static;
	width: auto;
	height: auto;
}
.productbox-1 .text-addcart,
.productbox-1 .text-outofstock {
		font-weight: 700;
		font-size: 0.8125em;
		text-transform: uppercase;
		display: inline-block;
}
.productbox-1 .product-cart .ptw-icon {
		font-size:20px;
		margin-right:5px;
}
.productbox-1 .product-buttons {
	padding: 30px 0;
	opacity: 0;
	visibility: hidden;
	list-style: none;
	margin: 0px;
	position: absolute;
	bottom: -50px;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	background: #fbfbfb;
	transition: all 400ms;
	-webkit-transition: all 400ms;
	-moz-transition: all 400ms;
	-ms-transition: all 400ms;
	-o-transition: all 400ms;
}
.productbox-1:hover .product-buttons{
	opacity: 1;
	visibility: visible;
	bottom: 0;
}
.productbox-1 .product-buttons li{
	padding: 0 36px;
	position: relative;
}
.productbox-1 .product-buttons li:not(:last-child)::after{
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 1px;
	width: 1px;
	height: 32px;
	background: #ccc;
}
.productbox-1 .product-buttons i {
	font-size: 22px;
}
.productbox-1 .product-buttons i:hover{
	color: #ff794f;
}
/***** Product Box 2 *****/
.productbox-2 .product-preview{
	overflow: hidden;
}
.productbox-2 .product-info {
	position: relative;
	margin-top: 20px;
}
.productbox-2 .product-info .product-buttons{
	display: none;
}
.productbox-2 .product-action {
	align-items: center;
	display: flex;
}
.productbox-2 .variant-links {
	margin: 0;
	margin-bottom: 12px;
	display: inline-block;
	line-height: 1;
}
.productbox-2.js-product-miniature .product-preview .product-image::before{
	display: none;
}
.productbox-2.js-product-miniature .content_price{
	margin-top: 0;
}
.productbox-2.js-product-miniature .addToWishlist{
	position: static;
	width: auto;
	height: auto;
}
.productbox-2 .text-addcart,
.productbox-2 .text-outofstock {
		font-weight: 700;
		font-size: 0.8125em;
		text-transform: uppercase;
		display: inline-block;
}
.productbox-2 .product-cart .ptw-icon {
		font-size:20px;
		margin-right:5px;
}
.productbox-2 .product-buttons {
	padding: 30px 0;
	opacity: 0;
	visibility: hidden;
	list-style: none;
	margin: 0px;
	position: absolute;
	bottom: -50px;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	background: #fbfbfb;
	transition: all 400ms;
	-webkit-transition: all 400ms;
	-moz-transition: all 400ms;
	-ms-transition: all 400ms;
	-o-transition: all 400ms;
}
.productbox-2:hover .product-buttons{
	opacity: 1;
	visibility: visible;
	bottom: 0;
}
.productbox-2 .product-buttons li{
	padding: 0 36px;
	position: relative;
}
.productbox-2 .product-buttons li:not(:last-child)::after{
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 1px;
	width: 1px;
	height: 32px;
	background: #ccc;
}
.productbox-2 .product-buttons i {
	font-size: 22px;
}
.productbox-2 .product-buttons i:hover{
	color: #ff794f;
}

/***** Product Box 3 *****/
.productbox-3 .addToWishlist {
	display: inline-flex;
	position: absolute;
	right: 12px;
	bottom: 12px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #fff;
	justify-content: center;
	align-items: center;
}
.productbox-3 .product-buttons {
	display: flex;
	position: absolute;
	top: calc(50% - 40px);
	left: 50%;
	transform: translate(-50%,-50%);
	opacity: 0;
	transition: all 0.4s;
	z-index: 9;
}
.productbox-3:hover .product-buttons {
	top: 50%;
	opacity: 1;
}
.productbox-3 .product-buttons a {
	min-width: 150px;
	margin: 0 5px;
	background: transparent;
	color: #fff;
	border: 1px solid #fff;
	font-size: 15px;
	white-space: nowrap;
	font-weight: 600;
	letter-spacing: 0.3px;
	padding: 7px 21px;
}
.productbox-3 .product-buttons a:hover{
	background: #fff;
	color: #000;
}
.productbox-3 .product-info .product-buttons{
	display: none;
}


/***** Product Box 4 *****/
.productbox-4 .product-buttons {
	padding: 10px 0;
	opacity: 0;
	visibility: hidden;
	list-style: none;
	margin: 0px;
	position: absolute;
	bottom: -10px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	justify-content: center;
	background: #fbfbfb;
	transition: all 400ms;
	-webkit-transition: all 400ms;
	-moz-transition: all 400ms;
	-ms-transition: all 400ms;
	-o-transition: all 400ms;
}
.productbox-4:hover .product-buttons{
	opacity: 1;
	visibility: visible;
	bottom: 10px;
}
.productbox-4 .product-buttons li{
	padding: 0 35px;
	position: relative;
}
.productbox-4 .product-buttons li:not(:last-child)::after{
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 1px;
	width: 1px;
	height: 26px;
	background: #ccc;
}
.productbox-4 .product-buttons i {
	font-size: 22px;
}
.productbox-4 .product-buttons i:hover{
	color: #ff794f;
}
.productbox-4 .product-action{
	position: relative;
}
.productbox-4 .product-cart{
	position: absolute;
	left: 0;
	opacity: 0;
	visibility: hidden;
	transition: all 400ms;
	-webkit-transition: all 400ms;
	-moz-transition: all 400ms;
	-ms-transition: all 400ms;
	-o-transition: all 400ms;
}
.productbox-4:hover .product-cart{
	opacity: 1;
	visibility: visible;
}
.productbox-4 .content_price{
	transition: all 400ms;
	-webkit-transition: all 400ms;
	-moz-transition: all 400ms;
	-ms-transition: all 400ms;
	-o-transition: all 400ms;
}
.productbox-4:hover .content_price{
	opacity: 0;
	visibility: hidden;
}
.productbox-4 .cart-button{
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ff794f;
}
.productbox-4 .product-preview .product-image::before {
	background: rgba(0,0,0,0.12);
}
.productbox-4 .product-info .product-buttons{
	display: none;
}

/***** Product Box 5 *****/
.productbox-5{
	display: flex;
	margin-bottom: 30px;
}
.productbox-5 .product-preview{
	max-width: 86px;
	margin-right: 15px;
}
.productbox-5 .product-preview .product-image::before {
	display: none !important;
}
.productbox-5 .variant-links{
	margin-top: 0;
	margin-bottom: 7px;
}
.productbox-5 .product-info{
	margin-top: 2px;
}
.productbox-5 .product-title{
	margin-bottom: 7px;
	line-height: 1.45;
}
.productbox-5 .content_price{
	margin-top: 0;
}

.topseller-block .products{
	margin-top: 22px;
}

.item .js-product-miniature {
	margin-bottom: 0;
}

/* product list */
.products-list .productbox-4 .product-action .product-cart{
	display: none;
}
.products-list .productbox-4 .product-info .product-buttons .product-cart{
	position: static;
	opacity: 1;
	visibility: visible;
}
.products-list .productbox-4:hover .content_price {
	opacity: 1;
	visibility: visible;
}
.products-list .product-preview {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.products-list .js-product-miniature {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 28px;
	width:100%;
}
.products-list .js-product-miniature .product-preview .product-buttons,
.products-list .js-product-miniature .product-preview .variant-links,
.products-list .js-product-miniature .product-preview .addToWishlist{
	display: none;
}
.products-list .product-preview .product-image::before {
	display: none;
}
.products-list .js-product-miniature .product-info .variant-links {
	display: block;
	opacity: 1;
	visibility: visible;
	position: static;
	margin-bottom: 9px;
	margin-top: 3px;
}
.products-list .js-product-miniature .product-info .product-buttons {
	display: flex;
	position: static;
	opacity: 1;
	visibility: visible;
	background: transparent;
	justify-content: flex-start;
	padding-top: 27px;
	transform: none;
	transition: none;
}
.products-list .productbox-3 .product-info .product-buttons a {
	min-width: auto;
	position: static;
	font-size: 22px;
	padding: 0;
	margin: 0;
	width: auto;
	height: auto;
}
.products-list .js-product-miniature .product-info .product-buttons .cart-button{
	border: 1px solid #636363;
	padding: 9px 40px;
	text-transform: uppercase;
	color: #000;
	font-size: 14px;
	letter-spacing: 0.3px;
}
.products-list .js-product-miniature .product-info .product-buttons .cart-button:hover{
	border-color: #000;
	background: #000;
	color: #fff;
}
.products-list .product-buttons li::after {
	display: none;
}
.products-list .product-buttons li {
	padding: 0;
	margin-right: 23px;
}
.products-list .product-buttons li .fal{
	color: #000;
	transition: all 400ms;
	-webkit-transition: all 400ms;
	-moz-transition: all 400ms;
	-ms-transition: all 400ms;
	-o-transition: all 400ms;
}
.products-list .product-buttons li .fal:hover{
	color: #ff794f;
}
.products-list .product-title {
	text-align: left;
}
.products-list .product-action{
	justify-content: flex-start;
}
.products-list .product-preview {
    width: 31.05%;
}
.products-list .product-info {
	width: 68.95%;
    border-top: 0 none;
    padding: 0 28px;
    text-align: left;
    margin-top: 0;
}
.products-list .variant-links{
	margin-top: 0;
}
.products-list .product-short-desc {
	display: block;
	letter-spacing: -0.09px;
	line-height: 1.75;
	border-top: 1px solid #ebebeb;
	margin-top: 26px;
	padding-top: 22px;
}
.variant-links{
	margin-top: 20px;
	margin-bottom: 10px;
}
.variant-links a {
	position: relative;
	display: inline-block !important;
	width:14px;
	height:14px;
	border-radius: 50%;
	margin:0px 3px 0px 0px;
	z-index: 20;
}

.variant-links a::after{
	content: "";
	width: calc(100% + 6px);
	height: calc(100% + 6px);
	position: absolute;
	top: 50%;
	left: 50%;
	border: 0 solid transparent;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	transition: all 400ms;
	-webkit-transition: all 400ms;
	-moz-transition: all 400ms;
	-ms-transition: all 400ms;
	-o-transition: all 400ms;
	z-index: 9;
}
.variant-links a:first-child{
	margin-left: 3px;
}
.variant-links a:hover::after,
.variant-links a:first-child::after{
	border: 1px solid #bababa;
}
.product-img2 {
	display:none!important;
}
.js-product-miniature:hover .swap-image .product-img2 {
	display:block!important;
}
.js-product-miniature:hover .swap-image .product-img1 {
	display:none;
}
